#{extends 'menu.html' /}
#{set title:'Aggiungi nuova commessa' /}

<!-- CSS -->
#{stylesheet id:'jquery-css',media:'screen',src:'jquery-ui-1.8.14.custom.css'  /}
#{stylesheet id:'cupertino-css',media:'screen',src:'cupertino/jquery-ui-1.7.2.custom.css'  /}
<!-- JavaScript-->
#{script id:'jquery' , src:'jquery-1.5.2.min.js', charset:'utf-8' /}
#{script id:'jquery-ui' , src:'jquery-ui-1.8.14.custom.min.js', charset:'utf-8' /}
#{script id:'datepicker' , src:'jquery.ui.datepicker.js', charset:'utf-8' /}
#{script id:'datepicker-it' , src:'ui.datepicker-it.js', charset:'utf-8' /}
<script type="text/javascript">
	$(function() {
    	$.datepicker.setDefaults($.datepicker.regional['it']);
		$('#datepicker1').datepicker({
			changeMonth: true,
			changeYear: true,
			yearRange:'-59:+50'
		});
	});
</script>

<h2>Nuova commessa</h2>
#{if listaClienti.size() > 0}
	<div id="align_form">
	#{form @CommesseController.save()}
		
		#{ifErrors}
	        <p class="error">
				${errors[0]}
			</p>
	    #{/ifErrors}
		
	   	<label for="codice">Codice commessa:</label>
	    <input type="text" class="txt_m" id="codice" name="commessa.codice" value="${commessa.codice }" />
	    <br />
	    <label for="descrizione">Descrizione: </label>
	    <input type="text" class="txt_m" id="descrizione" name="commessa.descrizione" value="${commessa.descrizione }" />
	    <br />
	    <label for="fatturabile">Fatturabile: </label>
	    <span class="checkbox">
	    SI <input type="radio" id="descrizione" name="commessa.fatturabile" value="true" checked="checked" />
	    NO <input type="radio" id="descrizione" name="commessa.fatturabile" value="false" />
	    </span>
	    <br />
	    <label for=dataInizioCommessa>Data inizio: </label>
	    <input type="text" class="txt_date" name="commessa.dataInizioCommessa" id="datepicker1" value="${commessa.dataInizioCommessa?.format('dd-MM-yyyy') }"/>
	    <br />
	   	<label for="cliente">Cliente: </label>

		#{select 'commessa.cliente.idCliente', items:listaClienti, labelProperty:'nominativo', valueProperty:'idCliente', value:commessa.cliente.idCliente/}
	    <br>
	    <span class="linea">
	    	<hr>
	    </span>

        <label for="aCorpo">A corpo: </label>
        <span class="checkbox">
        SI <input type="radio" id="aCorpo" name="aCorpo" value="si" #{if aCorpo.equals("si")}checked="checked"#{/if}/>
        NO <input type="radio" id="aCorpo" name="aCorpo" value="no" #{if aCorpo.equals("no")}checked="checked"#{/if} />
	    </span>
	    <br />
	    <label for=importo>Importo: </label>
	    <input type="text" class="txt_s" name="importo" value="${importo }"/>
	    <br />
</div>
	<div id="button_center">
	        <input type="submit" class="submitbutton" value="Salva" />
#{/form}
		<a href="@{CommesseController.list()}"><input type="button" class="submitbutton" value="Indietro" /></a>
	</div>
#{/if}
#{else}
	<h3>Non si pu&ograve; creare una commessa, perch&egarve; non esistono clienti a cui assegnarla.</h3>
	<a href="@{ClientiController.create()}"><input type="button" class="submitbutton" value="Aggiungi nuovo Cliente" /></a>
#{/else}