#{extends 'menu.html' /}
#{set title:'Aggiungi nuova commessa' /}

<!-- CSS -->
#{stylesheet id:'jquery-css',media:'screen',src:'jquery-ui-1.8.14.custom.css'  /}
#{stylesheet id:'cupertino-css',media:'screen',src:'cupertino/jquery-ui-1.7.2.custom.css'  /}
#{stylesheet id:'teken-input',media:'screen',src:'token-input.css'  /}
<!-- JavaScript-->
#{script id:'jquery' , src:'jquery-1.5.2.min.js', charset:'utf-8' /}
#{script id:'jquery-ui' , src:'jquery-ui-1.8.14.custom.min.js', charset:'utf-8' /}
#{script id:'datepicker' , src:'jquery.ui.datepicker.js', charset:'utf-8' /}
#{script id:'datepicker-it' , src:'ui.datepicker-it.js', charset:'utf-8' /}
#{script id:'tokeninput' , src:'jquery.tokeninput.js', charset:'utf-8' /}

<script type="text/javascript">
	$(function() {
    	$.datepicker.setDefaults($.datepicker.regional['it']);
		$('#datepicker1').datepicker({
			changeMonth: true,
			changeYear: true,
			yearRange:'-59:+50'
		});
	});

	function toggle_visibility_true(id) {
		var e = document.getElementById(id);
		e.style.display = 'block';
    }
    function toggle_visibility_false(id) {
		var e = document.getElementById(id);
		e.style.display = 'none';
    }

    $(document).ready(function () {
        $("#gruppo").tokenInput('autocompleteGruppo', {
            hintText: "Gruppo dipendenti es:collaboratori (min 3 char)",
            noResultsText: "Nessun risultato",
            searchingText: "Ricerca...",
            minChars: "3",
            preventDuplicates: true,
            method: "POST",
            prePopulate:${listaGruppi.length() > 1 ? listaGruppi : '[]'}
        });
    });

    function toggle_visibility(id) {
        var e = document.getElementById(id);
        if(e.style.display == 'block')
           e.style.display = 'none';
        else
           e.style.display = 'block';
     }
</script>

<h2>Nuova commessa</h2>
		#{ifErrors}
	        <p class="error">
				${errors[0]}
			</p>
	    #{/ifErrors}	
#{if listaClienti.size() > 0}
	<div id="form_small">
	#{form @CommesseController.save()}
		<p class="campi_obbligatori">I campi contrassegnati dall&#39;asterisco (&#42;) sono obbligatori</p>
		
		 <ul>
	    <li>
	   	<label for="codice">&#42; Codice commessa:</label>
	    <input type="text" class="txt_xxl" id="codice" name="commessa.codice" value="${commessa.codice }" />
	    </li>
	    <li>
	    <label for="descrizione">&#42; Descrizione: </label>
	    <input type="text" class="txt_xxl" id="descrizione" name="commessa.descrizione" value="${commessa.descrizione }" />
	     </li>
	    <li>
	    <label for="calcoloCosti">Calcola costi: </label>
	    <input type="checkBox" id="calcoloCosti" name="commessa.calcoloCosti" value="true" #{if commessa.calcoloCosti == true} checked="checked" #{/if} />
	    </li>
	    <li>
	    <label for="calcoloRicavi">Calcola ricavi: </label>
	    <input type="checkBox" id="calcoloRicavi" name="commessa.calcoloRicavi" value="true" onclick="toggle_visibility('gruppi');" #{if commessa.calcoloRicavi == true} checked="checked" #{/if}/>
	    </li>
	    <li>
	    <label for=ricavoPrevisionale>Ricavo Previsionale: </label>
	    <input type="text" class="txt_m" name="commessa.ricavoPrevisionale" value="${commessa.ricavoPrevisionale }" /> &euro;
	    </li>
	    <li>
	   	<label for="tipoCommessa">&#42; Tipo commessa: </label>
		#{select 'commessa.tipoCommessa.idTipoCommessa', items:listaTipiCommessa, labelProperty:'descrizione', valueProperty:'idTipoCommessa', value:commessa?.tipoCommessa?.idTipoCommessa /}
	     </li>
	    <li>
	    <label for=dataInizioCommessa>Data inizio: </label>
	    <input type="text" class="txt_date" name="commessa.dataInizioCommessa" id="datepicker1" value="${commessa.dataInizioCommessa?.format('dd-MM-yyyy') }"/>
	    </li>
	    <li>
	   	<label for="cliente">&#42; Cliente: </label>
		#{select 'commessa.cliente.idCliente', items:listaClienti, labelProperty:'nominativo', valueProperty:'idCliente', value:commessa.cliente.idCliente/}
	      </li>
	    <li>
		<span id="gruppi" #{if commessa.calcoloRicavi == true}
				    	style="display: none"
				      #{/if}
				      #{else}
				      	style="display: block"
				      #{/else}>
		 <div style="width:400px;">
		 <br />		      
		<label for="gruppo">&#42; Gruppo:</label>
		<input type="text" class="txt_m" id="gruppo" name="gruppo" />
		</div>
		</span>
	      </li>
	    <li>
	    <label for="aCorpo">A corpo: </label>
	    <span class="radio" style="padding:10px;">
        SI <input type="radio" id="aCorpo" name="aCorpo" value="si" #{if aCorpo.equals("si")}checked="checked"#{/if} onclick="toggle_visibility_true('divACorpo');"/>
        NO <input type="radio" id="aCorpo" name="aCorpo" value="no" #{if aCorpo.equals("no")}checked="checked"#{/if} onclick="toggle_visibility_false('divACorpo');"/>
	    </span>
	    </li>
	    <li>
	    <div id="divACorpo" style="display: none">
	    	<span class="linea">
		    	<hr>
		    </span><br />
			<label for=importo>&#42; Importo: </label>
		    <input type="text" class="txt_s" name="importo" value="${importo }"/>
		</div>
		</li>
		</ul>
</div>
	<div id="button_center">
			<input type="hidden" name="commessa.calcoloCosti" value="false" /> 
			<input type="hidden" name="commessa.calcoloRicavi" value="false" /> 
	        <input type="submit" class="submitbutton" value="Salva" />
#{/form}
		
	</div>
	<div class="navigation">
		<a class="button_nav" href="@{CommesseController.list()}">Indietro</a>
	</div>
#{/if}
#{else}
	<h3>Non si pu&ograve; creare una commessa, perch&egarve; non esistono clienti a cui assegnarla.</h3>
	<a href="@{ClientiController.create()}"><input type="button" class="submitbutton" value="Aggiungi nuovo Cliente" /></a>
#{/else}