#{extends 'menu.html' /}
#{set title:'Modifica commessa'/}

<!-- CSS -->
#{stylesheet id:'jquery-css',media:'screen',src:'jquery-ui-1.8.14.custom.css'  /}
#{stylesheet id:'cupertino-css',media:'screen',src:'cupertino/jquery-ui-1.7.2.custom.css'  /}
<!-- JavaScript-->
#{script id:'jquery' , src:'jquery-1.5.2.min.js', charset:'utf-8' /}
#{script id:'jquery-ui' , src:'jquery-ui-1.8.14.custom.min.js', charset:'utf-8' /}
#{script id:'datepicker' , src:'jquery.ui.datepicker.js', charset:'utf-8' /}
#{script id:'datepicker-it' , src:'ui.datepicker-it.js', charset:'utf-8' /}
<script type="text/javascript">
	$(function() {
    	$.datepicker.setDefaults($.datepicker.regional['it']);
		$('#datepicker1').datepicker({
			changeMonth: true,
			changeYear: true,
			yearRange:'-59:+50'
		});
	});

	$(function() {
    	$.datepicker.setDefaults($.datepicker.regional['it']);
		$('#datepicker2').datepicker({
			changeMonth: true,
			changeYear: true,
			yearRange:'-59:+50'
		});
	});
</script>

<h2>Modifica commessa</h2>
<div id="align_form">
#{form @CommesseController.update()}
	
	#{ifErrors}
        <p class="error">
			${errors[0]}
		</p>
    #{/ifErrors}
 
   	<label for="codice">Codice commessa:</label>
   	<input type="text" class="txt_m" id="codice" name="commessa.codice" value="${commessa.codice }"/>
   	<br />
   	<label for="descrizione">Descrizione: </label>
   	<input type="text" class="txt_m" id="descrizione" name="commessa.descrizione" value="${commessa.descrizione }" />
   	<br />
	#{if !commessa instanceof models.CommessaACorpo }
		<label for="fatturabile">Fatturabile: </label>
        SI <input type="radio" id="descrizione" name="commessa.fatturabile" value="true" #{if commessa.fatturabile==true}checked="checked"#{/if}/>
        NO <input type="radio" id="descrizione" name="commessa.fatturabile" value="false" #{if commessa.fatturabile==false}checked="checked"#{/if}/>
  		<br />
  	#{/if}
	<label for=dataInizioCommessa>Data inizio: </label>
    <input type="text" class="txt_date" id="datepicker1" name="commessa.dataInizioCommessa" value="${commessa.dataInizioCommessa?.format('dd-MM-yyyy') }"/>
   	<br />
	<label for=dataFineCommessa>Data fine: </label>
    <input type="text" class="txt_date" id="datepicker2" name="commessa.dataFineCommessa" value="${commessa.dataFineCommessa?.format('dd-MM-yyyy') }"/>
	<br />
	#{if commessa instanceof models.CommessaACorpo }
        <label for=importo>Importo:</label>
        <input type="text" class="txt_s" id="importo" name="commessa.importo" value="${commessa.importo }"/>
	    <br />
	#{/if}
    <label for="cliente">Cliente: </label>
    #{select 'commessa.cliente.idCliente', items:listaClienti, labelProperty:'nominativo', valueProperty:'idCliente', value:commessa.cliente.idCliente/}
</div>
	<div id="button_center">
		<input type="hidden" name="commessa.idCommessa" value="${commessa.idCommessa }" />
	    <input type="submit" class="submitbutton" value="Salva" />
#{/form}
		<a href="@{CommesseController.list()}"><input type="button" class="submitbutton" value="Indietro" /></a>
	</div>