#{extends 'menu.html' /}
#{set title:'Modifica commessa'/}

<!-- CSS -->
#{stylesheet id:'jquery-css',media:'screen',src:'jquery-ui-1.8.14.custom.css'  /}
#{stylesheet id:'cupertino-css',media:'screen',src:'cupertino/jquery-ui-1.7.2.custom.css'  /}
#{stylesheet id:'teken-input',media:'screen',src:'token-input.css'  /}
<!-- JavaScript-->
#{script id:'jquery' , src:'jquery-1.5.2.min.js', charset:'utf-8' /}
#{script id:'jquery-ui' , src:'jquery-ui-1.8.14.custom.min.js', charset:'utf-8' /}
#{script id:'datepicker' , src:'jquery.ui.datepicker.js', charset:'utf-8' /}
#{script id:'datepicker-it' , src:'ui.datepicker-it.js', charset:'utf-8' /}
#{script id:'tokeninput' , src:'jquery.tokeninput.js', charset:'utf-8' /}

<script type="text/javascript">
	$(function() {
    	$.datepicker.setDefaults($.datepicker.regional['it']);
		$('.datepicker').datepicker({
			changeMonth: true,
			changeYear: true,
			yearRange:'-59:+50'
		});
	});

	function toggle_visibility_true(id) {
		var e = document.getElementById(id);
		e.style.display = 'block';
    }
    function toggle_visibility_false(id) {
		var e = document.getElementById(id);
		e.style.display = 'none';
    }

    $(document).ready(function () {
	    $("#gruppo").tokenInput('autocompleteGruppo', {
	        hintText: "Digitare la descrizione del ruolo (almeno 3 caratteri)",
	        noResultsText: "Nessun risultato",
	        searchingText: "Ricerca...",
	        minChars: "3",
	        method: "POST",
	        preventDuplicates: true,
	        prePopulate:${listaGruppi.length() > 1 ? listaGruppi : '[]'}
	 
	    });
	});

    function toggle_visibility(id) {
        var e = document.getElementById(id);
        if(e.style.display == 'block')
           e.style.display = 'none';
        else
           e.style.display = 'block';
     }
</script>

<h2>Modifica commessa</h2>
<div id="align_form">
#{form @CommesseController.update()}
	
	#{ifErrors}
        <p class="error">
			${errors[0]}
		</p>
    #{/ifErrors}
 
   	<label for="codice">Codice commessa:</label>
   	<input type="text" class="txt_m" id="codice" name="commessa.codice" value="${commessa.codice }"/>
   	<br />
   	<label for="descrizione">Descrizione: </label>
   	<input type="text" class="txt_m" id="descrizione" name="commessa.descrizione" value="${commessa.descrizione }" />
   	<br />
  	<label for="calcoloCosti">Calcola costi: </label>
	<input type="checkBox" id="calcoloCosti" name="commessa.calcoloCosti" value="true" #{if commessa.calcoloCosti == true} checked="checked" #{/if} />
	<br />
	<label for="calcoloRicavi">Calcola ricavi: </label>
	<input type="checkBox" id="calcoloRicavi" name="commessa.calcoloRicavi" value="true"  onclick="toggle_visibility('gruppi');" #{if commessa.calcoloRicavi == true} checked="checked" #{/if} />
	<br />
  	<label for="tipoCommessa">Tipo commessa: </label>
	#{select 'commessa.tipoCommessa.idTipoCommessa', items:listaTipiCommessa, labelProperty:'descrizione', valueProperty:'idTipoCommessa', value:commessa?.tipoCommessa?.idTipoCommessa }
		#{option ''}- selezionare -#{/option}
	#{/select}
	<br />
	<label for=dataInizioCommessa>Data inizio: </label>
    <input type="text" class="datepicker" name="commessa.dataInizioCommessa" value="${commessa.dataInizioCommessa?.format('dd-MM-yyyy') }"/>
   	<br />
	<label for=dataFineCommessa>Data fine: </label>
    <input type="text" class="datepicker" name="commessa.dataFineCommessa" value="${commessa.dataFineCommessa?.format('dd-MM-yyyy') }"/>
	<br />
    <label for="cliente">Cliente: </label>
    #{select 'commessa.cliente.idCliente', items:listaClienti, labelProperty:'nominativo', valueProperty:'idCliente', value:commessa.cliente.idCliente/}
    <br />
    <span id="gruppi" #{if commessa.calcoloRicavi == true}
				    	style="display: none"
				      #{/if}
				      #{else}
				      	style="display: block"
				      #{/else}
				      >
	<label for="gruppo">Gruppo:</label>
	<input type="text" class="txt_m" id="gruppo" name="gruppo" />
	<br /></span>
	
    <label for="aCorpo">A corpo: </label>
	    <span class="checkbox">
        SI <input type="radio" id="aCorpo" name="aCorpo" value="si" #{if commessa instanceof models.CommessaACorpo}checked="checked"#{/if} onclick="toggle_visibility_true('divACorpo');"/>
        NO <input type="radio" id="aCorpo" name="aCorpo" value="no" #{if !(commessa instanceof models.CommessaACorpo)}checked="checked"#{/if} onclick="toggle_visibility_false('divACorpo');"/>
	    </span><br /><br />
	    <div id="divACorpo" #{if !(commessa instanceof models.CommessaACorpo)}style="display: none" #{/if}>
	    	<span class="linea">
		    	<hr>
		    </span>
			<label for=importo>Importo: </label>
		    <input type="text" class="txt_s" name="importo" value="${importo }"/>
		    <br /><br />
		</div>
</div>
	<div id="button_center">
		<input type="hidden" name="commessa.calcoloCosti" value="false" /> 
		<input type="hidden" name="commessa.calcoloRicavi" value="false" /> 
		<input type="hidden" name="commessa.idCommessa" value="${commessa.idCommessa }" />
	    <input type="submit" class="submitbutton" value="Salva" />
#{/form}
		<a href="@{CommesseController.list()}"><input type="button" class="submitbutton" value="Indietro" /></a>
	</div>