#{extends 'main.html' /}
#{set title:'Modifica commessa: '+  commessa.codice /}

<!-- CSS calendario -->
<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/cupertino/jquery-ui-1.7.2.custom.css'}">
<!-- JavaScript calendario -->
<script src="@{'/public/javascripts/jquery-1.3.2.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/jquery-ui-1.7.1.custom.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/ui.datepicker-it.js'}" type="text/javascript" charset="${_response_encoding}"></script>
<script type="text/javascript">
  		  $(function() {
    		$.datepicker.setDefaults($.datepicker.regional['it']);
		   	  $('#datepicker').datepicker({
				changeMonth: true,
				changeYear: true,
				yearRange:'-59:+50'
	
		});
  });
</script>

<h1>Modifica commessa: ${commessa.codice }</h1>
#{form @CommesseController.update(idCliente)}
	
	#{ifErrors}
        <p class="error">
			${errors[0]}
		</p>
    #{/ifErrors}
    
	<p>
        <label for="id">Id commessa: </label>
        <label>${commessa.idCommessa }</label>
    </p>
	<p>
        <label for="codice">Codice commessa: </label>
        <input type="text" id="codice" name="commessa.codice" value="${commessa.codice }"/>
    </p>
    <p>
        <label for="descrizione">Descrizione: </label>
        <input type="text" id="descrizione" name="commessa.descrizione" value="${commessa.descrizione }" />
    </p>
    <p>
        <label for="fatturabile">Fatturabile: </label>
        SI <input type="radio" id="descrizione" name="commessa.fatturabile" value="true" #{if commessa.fatturabile==true}checked="checked"#{/if}/>
        NO <input type="radio" id="descrizione" name="commessa.fatturabile" value="false" #{if commessa.fatturabile==false}checked="checked"#{/if}/>
    </p>
    <p>
        <label for=dataInizioCommessa>Data inizio: </label>
        <input type="text" id="datepicker" name="commessa.dataInizioCommessa" value="${commessa.dataInizioCommessa?.format('dd-MM-yyyy') }"/>
    </p>
    #{if listaClienti.size() > 0}
    <p>
    	<label for="cliente">Cliente: </label><br>
    	<select name="idCliente">
    		#{list items:listaClienti, as:'cliente'}
		        <option value="${cliente.idCliente }" 
		        	#{if cliente.idCliente == commessa.cliente.idCliente }
		        		selected="selected"
		        	#{/if} >${cliente.nominativo }</option>
		    #{/list} 
    	</select>
    </p>
    #{/if}
	<p>
		<input type="hidden" name="commessa.idCommessa" value="${commessa.idCommessa }" />
        <input type="submit" value="Salva modifiche" />
    </p>
    
#{/form}
<a href="@{CommesseController.index()}">
	<input type="button" value="Annulla" /></a>