#{extends 'menu.html' /}
#{set title:'Gestione Commesse' /}

<!-- CSS -->
#{stylesheet id:'autocoomplete',media:'screen',src:'jquery.autocomplete.css'  /}
#{stylesheet id:'jquery-css',media:'screen',src:'test.css'  /}
#{stylesheet id:'cupertino-css',media:'screen',src:'cupertino/jquery-ui-1.7.2.custom.css'  /}

<!-- JavaScript-->
#{script id:'jquery' , src:'jquery-1.5.2.min.js', charset:'utf-8' /}
#{script id:'jquery-ui' , src:'jquery-ui-1.8.14.custom.min.js', charset:'utf-8' /}
#{script id:'autocomplete' , src:'jquery.ui.autocomplete.js', charset:'utf-8' /}

<script type="text/javascript">
	$(function() {
		$("#commessa").autocomplete({
			source: "autocompleteCommessa",
			minLength: 3,
			select: function( event, ui ) {
				$("#idCommessa").val(ui.item.value);
				return false;
			},
			focus: function( event, ui ) {
				$("#commessa").val(ui.item.label);
				return false;
			}
		});
	});
</script>

<h2>Commesse</h2>
#{if flash.success}
   	<p class="success">${flash.success}</p>
#{/if}

#{if paginator.size() > 0}
	<div id="search">
		<form action="@{CommesseController.search()}">
			<label for="ricerca">Ricerca: </label>
			<input type="text" class="txt_m" name="commessa" id="commessa" />
			<input type="hidden" name="idCommessa" id="idCommessa" />
			<input type="submit" value="Cerca" class="button_submit"/>
		</form>
		#{a @CommesseController.list()}Mostra tutti#{/a}<br />
		#{a @CommesseController.listFatturabili()}Commesse fatturabili#{/a}<br />
		#{a @CommesseController.listNonFatturabili()}Commesse non fatturabili#{/a}<br />
		#{a @CommesseController.listACorpo()}Commesse a corpo#{/a}
		<p class="error">${flash.error}</p>
	</div>
	<table class="table_center">
	   <thead>
			<tr>
				<th scope="col">Codice</th>
				<th scope="col">Tipo commessa</th>
				<th scope="col">Commessa a corpo</th>
				<th scope="col">Descrizione</th>
				<th scope="col">Cliente</th>
				<th scope="col">Calcola costi</th>
				<th scope="col">Calcola ricavi</th>
				<th scope="col">Data inizio</th>
				<th scope="col">Data fine</th>
				<th scope="col">Modifica</th>
				<th scope="col">Chiudi</th>
			</tr>
		</thead>
		#{paginate.list items:paginator, as:'commessa'} 
			<tr>
				<td><a href="@{CommesseController.show(commessa.idCommessa)}">${commessa.codice }</a></td>
				<td>${commessa?.tipoCommessa?.descrizione }</td>
				<td>#{if commessa instanceof models.CommessaACorpo }
						si 
					#{/if}
					#{else}
						no
					#{/else} </td>
				<td>${commessa.descrizione }</td>
				<td><a href="@{ClientiController.show(commessa.cliente.idCliente)}">${commessa.cliente.codice }</a></td>
				<td>${commessa.calcoloCosti == true ? 'si' : 'no' }</td>
				<td>${commessa.calcoloRicavi == true ? 'si' : 'no' }</td>
				<td>${commessa.dataInizioCommessa?.format('dd-MM-yyyy') }</td>
				<td>${commessa.dataFineCommessa?.format('dd-MM-yyyy') }</td>
				#{if commessa.cliente.attivo }
					<td><a href="@{CommesseController.edit(commessa.idCommessa)}"><img src="@{'/public/images/edit.gif'}" alt="modifica" /></a></td>
					<td>
						#{if commessa.calcoloRicavi == true && commessa.dataInizioCommessa != null && commessa.dataFineCommessa == null}
							<a href="@{CommesseController.delete(commessa.idCommessa)}" onclick="return confirm('Sei sicuro di voler eliminare la commessa?')"><img src="@{'/public/images/delete.gif'}" alt="elimina" /></a>
						#{/if}
					</td>
				#{/if}
				#{else}
					<td></td>
					<td></td>
				#{/else}
			</tr>
		#{/paginate.list} 
	</table>
	<div id="datatable_commesse">
		#{paginate.controls items:paginator /}
	</div>
#{/if}
#{else}
	<center><h2>Non sono presenti commesse nel sistema.</h2></center>
#{/else}
<div id="buttonSubmit_center">
	#{a @CommesseController.create()}<input type="button" class="button_submit" value="Aggiungi"/>#{/a}
</div>