#{extends 'menu.html' /}
#{set title:'Dettaglio Commessa a Corpo'/}

<h2>Commessa a Corpo</h2>
<div id="edit">
   <ul>
		<li>
	        <label for="codice">Codice commessa:</label>
	            ${commessaACorpo.codice }
	    </li>
	    <li>
	        <label for="descrizione">Descrizione:</label>
	        	${commessaACorpo.descrizione }
	    </li>
	    #{if commessaACorpo.dataInizioCommessa}
	    <li>
	        <label for=dataInizioCommessa>Data inizio:</label>
	        	${commessaACorpo.dataInizioCommessa?.format('dd-MM-yyyy') }
	    </li>
	    #{/if}
	    <li>
	        <label for="importo">Importo:</label>
	        	${commessaACorpo.importo }
	    </li>
	    <li>
	        <label for="cliente">Cliente: </label>
	        <a href="@{ClientiController.show(commessaACorpo.cliente.idCliente)}">${commessaACorpo.cliente.nominativo }</a>
	    </li>
	</ul>
</div>
<div id="button_center_single">
	<a href="@{CommesseController.index()}"><input type="button" class="submitbutton" value="Indietro" /></a>
</div>