#{extends 'menu.html' /}
#{set title:'Dettaglio Commessa'/}

<h2>Commessa</h2>

<div id="edit">
   <ul>	
	<li>
        <label for="codice">Codice commessa:</label>
        ${commessa.codice }
    </li>
    <li>
        <label for="descrizione">Descrizione:</label>
       	${commessa.descrizione }
    </li>
    <li>
        <label for="calcoloCosti">Calcola costi:</label>
        ${commessa.calcoloCosti == true ? 'si' : 'no' }
    </li>
    <li>
        <label for="calcoloRicavi">Calcola ricavi:</label>
        ${commessa.calcoloRcavi == true ? 'si' : 'no' }
    </li>
    #{if commessa.dataInizioCommessa}
	    <li>
	        <label for=dataInizioCommessa>Data inizio:</label>
	       	${commessa.dataInizioCommessa?.format('dd-MM-yyyy') }
	    </li>
    #{/if}
    #{if commessa instanceof models.CommessaACorpo }
	    <li>
	        <label for=importo>Importo:</label>
	       	${commessa.importo }
	    </li>
	#{/if}
    <li>
       <label for="cliente">Cliente:</label>
       <a href="@{ClientiController.show(commessa.cliente.idCliente)}">${commessa.cliente.nominativo }</a>
    </li>
    
    #{if listaRisorse != null && listaRisorse.size() > 0 }
    <li>
        <label for="risorse">Risorse: </label>
       	<ul>
			#{list items:listaRisorse, as:'risorsa'}
				<li>${risorsa.matricola } - ${risorsa.cognome } ${risorsa.nome } </li>
			#{/list}
		</ul>
    </li>
    #{/if}
  </ul>
</div>	
<div id="button_center_single">
 	<input type="button" class="submitbutton" value="Indietro" onClick="history.back()"/>
	<a href="@{CommesseController.list()}"><input type="button" class="submitbutton" value="Lista commesse" /></a>
</div>