#{extends 'main.html' /}
#{set title:'Commessa: '+ commessaACorpo.codice /}

<h1>Commessa: ${commessaACorpo.codice }</h1>

	<p>
        <label for="id">Id commessa: </label>
        <label>${commessaACorpo.idCommessa }</label>
    </p>
	<p>
        <label for="codice">Codice commessa: </label>
        <label>${commessaACorpo.codice }</label>
    </p>
    <p>
        <label for="descrizione">Descrizione: </label>
        <label>${commessaACorpo.descrizione }</label>
    </p>
    #{if commessaACorpo.dataInizioCommessa}
    <p>
        <label for=dataInizioCommessa>Data inizio: </label>
        <label>${commessaACorpo.dataInizioCommessa?.format('dd-MM-yyyy') }</label>
    </p>
    #{/if}
    <p>
        <label for="importo">Importo: </label>
        <label>${commessaACorpo.importo }</label>
    </p>
    <p>
        <label for="cliente">Cliente: </label>
        <label><a href="@{ClientiController.show(commessaACorpo.cliente.idCliente)}">${commessaACorpo.cliente.nominativo }</a></label>
    </p>
	
<a href="@{CommesseController.delete(commessaACorpo.idCommessa)}">
	<input type="button" value="Cancella ${commessaACorpo.codice }" onclick="return confirm('Continuare con la cancellazzione di commessa: ${commessaACorpo.codice }');" /></a>
<br>
<a href="@{CommesseController.index()}">
	<input type="button" value="Indietro" /></a>