#{extends 'menu.html' /}
#{set title:'Nuovo Tipo Rapporto Lavoro' /}

<h2>Nuovo Tipo Rapporto Lavoro</h2>


<div id="edit">
#{ifErrors}
    <p class="error">${errors[0]}</p>
#{/ifErrors}
#{form @TipoRapportoLavoroController.save()}
  <ul>
    <li>
        <label for="codice">Codice:</label>
        <input type="text" class="txt_m" name="tipoRapportoLavoro.codice" id="codice" value="${tipoRapportoLavoro?.codice}"/>
    </li>
    <li>
        <label for="descrizione">Descrizione:</label>
        <input type="text" class="txt_m" name="tipoRapportoLavoro.descrizione" id="descrizione" value="${tipoRapportoLavoro?.descrizione}"/>
    </li>
  </ul>
</div>
    
    <div id="button_center">
        <input type="submit" class="submitbutton" value="Salva" />
    
#{/form}
#{form @TipoRapportoLavoroController.index()} 
	
        <input type="submit" class="submitbutton" value="Indietro" />
    </div>
    
#{/form}