#{extends 'menu.html' /}
#{set title:'Modifica tipo Rapporto Lavoro' /}

<h2>Modifica Tipo Rapporto Lavoro</h2>
  #{ifErrors}
   		 <p class="error">${errors[0]}</p>
	#{/ifErrors}
<div id="form_small">
#{form @TipoRapportoLavoroController.update()}
 <p class="campi_obbligatori">I campi contrassegnati dall&#39;asterisco (&#42;) sono obbligatori</p>
   <table class="table_form">
   <tr>
	        <td><label for="codice">&#42; Codice:</label></td>
	        <td><input type="text" class="txt_m" name="tipoRapportoLavoro.codice" id="codice" value="${tipoRapportoLavoro?.codice}"/></td>
	   </tr>
	    <tr>
	        <td><label for="descrizione">&#42; Descrizione:</label></td>
	        <td><input type="text" class="txt_m" name="tipoRapportoLavoro.descrizione" id="descrizione" value="${tipoRapportoLavoro?.descrizione}"/><td>
	    </tr>
    
    </table>
</div>
   <div id="button_center">
        <input type="submit" class="button_submit_double" value="Salva" />
    
    <input type="hidden" name="tipoRapportoLavoro.idTipoRapportoLavoro" value="${tipoRapportoLavoro.idTipoRapportoLavoro}"/>
#{/form}

  </div>
  <div class="navigation">
 <a class="button_nav" href="@{TipoRapportoLavoroController.index()}">Indietro</a>
</div>