#{extends 'menu.html' /}
#{set title:'Modifica tipo Rapporto Lavoro' /}

<h2>Modifica Tipo Rapporto Lavoro</h2>

<div id="edit">
#{form @TipoRapportoLavoroController.update()}
   #{ifErrors}
   		 <p class="error">${errors[0]}</p>
	#{/ifErrors}
   <ul> 
	    <li>
	        <label for="codice">Codice:</label>
	        <input type="text" class="txt_m" name="tipoRapportoLavoro.codice" id="codice" value="${tipoRapportoLavoro?.codice}"/>
	    </li>
	    <li>
	        <label for="descrizione">Descrizione</label>
	        <input type="text" class="txt_m" name="tipoRapportoLavoro.descrizione" id="descrizione" value="${tipoRapportoLavoro?.descrizione}"/>
	    </li>
    </ul>
</div>
   <div id="button_center">
        <input type="submit" class="submitbutton" value="Salva" />
    
    <input type="hidden" name="tipoRapportoLavoro.idTipoRapportoLavoro" value="${tipoRapportoLavoro.idTipoRapportoLavoro}"/>
#{/form}
#{form @TipoRapportoLavoroController.index()} 
	
        <input type="submit" class="submitbutton" value="Indietro" />
   
#{/form}
  </div>