#{extends 'menu.html' /}
#{set title:'Gestione Tipo Rapporti Lavoro' /}

<h2>Rapporti Lavoro</h2>


#{if flash.success}
    <p class="success">${flash.success}</p>
#{/if}
#{elseif flash.error}
    <p class="error">${flash.error}</p>
#{/elseif}

#{if listaTipoRapportoLavoro != null && listaTipoRapportoLavoro.size() > 0}


	<table class="table_center">
	<thead>
		<tr>
			<th scope="col">Codice</th>
			<th scope="col">Descrizione</th>
			<th scope="col">Modifica</th>
			<th scope="col">Elimina</th>
			<td></td>
		</tr>
	</thead>
		#{list items:listaTipoRapportoLavoro, as:'tipoRapportoLavoro', startIndex: 0}
			<tr>
    			<td>
    				<a href="@{TipoRapportoLavoroController.show(tipoRapportoLavoro.idTipoRapportoLavoro)}"> ${tipoRapportoLavoro.codice} </a>
    			</td>
    			<td>${tipoRapportoLavoro.descrizione}</td>
    			<td>
    				<a href="@{TipoRapportoLavoroController.edit(tipoRapportoLavoro.idTipoRapportoLavoro)}"><img src="@{'/public/images/edit.gif'}" alt="modifica" /></a>
    			</td>	
    			<td>	
    				<a href="@{TipoRapportoLavoroController.delete(tipoRapportoLavoro.idTipoRapportoLavoro)}" onclick="return confirm('Sei sicuro di voler procedere?')"><img src="@{'/public/images/delete.gif'}" alt="elimina" /></a>
    			</td>
    		</tr>
		#{/list}
  	</table>

#{/if}
#{else}
    <center><h3>Non vi sono Rapporti di lavoro presenti nel sistema.</h3></center>
#{/else}


<div id="buttonSubmit_center">
#{form @TipoRapportoLavoroController.create()}
        <input type="submit" class="button_submit" value="Aggiungi" />
#{/form}
</div>
