#{extends 'menu.html' /}
#{set title:'RapportoLavoroController/create.html' /}


<h2>Crea Rapporto Lavoro</h2>
<div id="edit">
#{ifErrors}
    <p class="error">${errors[0]}</p>
#{/ifErrors}

<ul>
	<li><label>Risorsa:</label> ${rapportoLavoro.risorsa.matricola}</li>
	<li><label>Nome: </label>${rapportoLavoro.risorsa.nome}</li> 
	<li><label>Cognome: </label>${rapportoLavoro.risorsa.cognome}</li>
	<li><label>Data In:</label> ${rapportoLavoro.risorsa.dataIn.format('dd-MM-yyyy')}</li>
</ul>

#{form @RapportoLavoroController.save()}
	<ul>
	    <li>
	    	<label for="dataInizio">Data Inizio:</label>
			#{select 'rapportoLavoro.meseInizio', value:rapportoLavoro.meseInizio}
				#{option 0}GEN#{/option}
				#{option 1}FEB#{/option}
				#{option 2}MAR#{/option}
				#{option 3}APR#{/option}
				#{option 4}MAG#{/option}
				#{option 5}GIU#{/option}
				#{option 6}LUG#{/option}
				#{option 7}AGO#{/option}
				#{option 8}SET#{/option}
				#{option 9}OTT#{/option}
				#{option 10}NOV#{/option}
				#{option 11}DIC#{/option}
			#{/select}
			
			#{select 'rapportoLavoro.annoInizio', items:listaAnni, labelProperty:'rapportoLavoro.annoInizio', valueProperty:'rapportoLavoro.annoInizio', value:rapportoLavoro.annoInizio}
			#{/select}
		</li>
		<li>
	    	<label for="tipoRapportoLavoro">Tipo Rapporto Lavoro:</label>
			#{select 'idTipoRapportoLavoro', items:listaTipoRapportoLavoro, labelProperty:'descrizione', valueProperty:'idTipoRapportoLavoro', value:idTipoRapportoLavoro}
				#{option 0}-- Seleziona --#{/option}
			#{/select}
		</li>
	</ul>
</div>
<div id="button_center">
	
        <input type="hidden" name="rapportoLavoro.risorsa.idRisorsa" value="${rapportoLavoro.risorsa.idRisorsa}" />
    	<input type="hidden" name="rapportoLavoro.meseFine" value="${rapportoLavoro.meseFine}" />
    	<input type="hidden" name="rapportoLavoro.annoFine" value="${rapportoLavoro.annoFine}" />
    	<input type="submit" class="submitbutton" value="Aggiungi" />
   
#{/form}
#{form @RapportoLavoroController.list(rapportoLavoro.risorsa.idRisorsa)} 
	
		<input type="submit" class="submitbutton" value="Annulla" />
   
#{/form}
</div>