#{extends 'menu.html' /}
#{set title:'RapportoLavoroController/edit.html' /}

<script type="text/javascript">
	function toggle_visibility(id) {
		var e = document.getElementById(id);
		if(document.getElementById("select").value == ${idCoCoPro}){
		   	e.style.display = 'block';
		}else {
		   	e.style.display = 'none';
		}
    }
</script>

<h2>Modifica Rapporto Lavoro</h2>
<div id="detail">
	<ul>
		<li><label>Risorsa: </label>${rapportoLavoro.risorsa.matricola}</li>
		<li><label>Nome: </label>${rapportoLavoro.risorsa.nome}</li> 
		<li><label>Cognome: </label>${rapportoLavoro.risorsa.cognome}</li>
		<li><label>Rapporto di lavoro: </label>${rapportoLavoro.risorsa.rapportiLavoro.get(rapportoLavoro.risorsa.rapportiLavoro.size()-1).tipoRapportoLavoro.descrizione }</li>
		#{if rapportoLavoro.risorsa.rapportiLavoro.get(rapportoLavoro.risorsa.rapportiLavoro.size()-1).tipoRapportoLavoro.codice == 'CCP' }
			<li><label>Giorni assenza retribuita: </label>${rapportoLavoro.risorsa.rapportiLavoro.get(rapportoLavoro.risorsa.rapportiLavoro.size()-1).giorniAssenzeRetribuite }</li>
		#{/if}
	</ul>
</div>

<div id="align_form_short">
#{form @RapportoLavoroController.update()}
	#{ifErrors}
    	<p class="error">${errors[0]}</p>
	#{/ifErrors}

    	<label for="dataInizio">Data Inizio:</label>
		#{select 'rapportoLavoro.meseInizio', value:rapportoLavoro.meseInizio}
			#{option 0}GEN#{/option}
			#{option 1}FEB#{/option}
			#{option 2}MAR#{/option}
			#{option 3}APR#{/option}
			#{option 4}MAG#{/option}
			#{option 5}GIU#{/option}
			#{option 6}LUG#{/option}
			#{option 7}AGO#{/option}
			#{option 8}SET#{/option}
			#{option 9}OTT#{/option}
			#{option 10}NOV#{/option}
			#{option 11}DIC#{/option}
		#{/select}
	
		#{select 'rapportoLavoro.annoInizio', items:listaAnni, labelProperty:'rapportoLavoro.annoInizio', valueProperty:'rapportoLavoro.annoInizio', value:rapportoLavoro.annoInizio}
		#{/select}
	<br />
    	<label for="dataFine">Data Fine:</label>
		#{select 'rapportoLavoro.meseFine', value:rapportoLavoro.meseFine}
			#{option -1}-- Mese --#{/option}
			#{option 0}GEN#{/option}
			#{option 1}FEB#{/option}
			#{option 2}MAR#{/option}
			#{option 3}APR#{/option}
			#{option 4}MAG#{/option}
			#{option 5}GIU#{/option}
			#{option 6}LUG#{/option}
			#{option 7}AGO#{/option}
			#{option 8}SET#{/option}
			#{option 9}OTT#{/option}
			#{option 10}NOV#{/option}
			#{option 11}DIC#{/option}
		#{/select}
	
		#{select 'rapportoLavoro.annoFine', items:listaAnni, labelProperty:'rapportoLavoro.annoFine', valueProperty:'rapportoLavoro.annoFine', value:rapportoLavoro.annoFine}
			#{option -1}-- Anno --#{/option}
		#{/select}
	<br />
	
		<label for="tipoRapportoLavoro">Tipo Rapporto Lavoro:</label>
		<select id="select" name="idTipoRapportoLavoro" onchange="toggle_visibility('giorni');"> 
			<option value="0" >-- Seleziona --</option>
			#{list items: listaTipoRapportoLavoro, as: 'tipoRapportoLavoro'}
		    	<option value="${tipoRapportoLavoro.idTipoRapportoLavoro}" 
		    		#{if tipoRapportoLavoro.idTipoRapportoLavoro == idTipoRapportoLavoro}
		    			selected="selected"
		    		#{/if}
		    		>${tipoRapportoLavoro.descrizione}</option>
		    #{/list}
		</select><br />
		
		<span id="giorni" #{if idTipoRapportoLavoro != idCoCoPro}
				    			style="display: none"
				    		#{/if}>
			<label for="ggAssRetr">Giorni di assenza retribuiti:</label>
			<input type="text" name="rapportoLavoro.giorniAssenzeRetribuite" value="${rapportoLavoro.giorniAssenzeRetribuite}" />
		</span>
		<br />
</div>
<div id="button_center">
	
        <input type="hidden" name="rapportoLavoro.idRapportoLavoro" value="${rapportoLavoro.idRapportoLavoro}" />
    	<input type="submit" class="submitbutton" value="Modifica" />
   
#{/form}
#{form @RapportoLavoroController.list(rapportoLavoro.risorsa.idRisorsa)} 
	
		<input type="submit" class="submitbutton" value="Indietro" />
   
#{/form}
</div>