#{extends 'menu.html' /}
#{set title:'RapportoLavoroController/list.html' /}

#{if flash.success}
    <p class="success">${flash.success}</p>
#{/if}

<h2>Rapporto Lavoro</h2>
<div id="detail">
<ul>
	<li><label>Risorsa: </label>${risorsa.matricola}</li>
	<li><label>Nome: </label>${risorsa.nome}</li> 
	<li><label>Cognome: </label>${risorsa.cognome}</li>
	<li><label>Data In:</label> ${risorsa.dataIn.format('dd-MM-yyyy')} #{if risorsa.dataOut != null}, Data Out: ${risorsa.dataOut?.format('dd-MM-yyyy')} #{/if}</li>
</ul>
</div>



#{if risorsa.rapportiLavoro.size() > 0}
			<table class="table_center">
					<thead>
						<tr>
							<th scope="col">Data Inizio</th>
							<th scope="col">Data Fine</th>
							<th scope="col">Tipo Rapporto Lavoro</th>
							#{if risorsa.dataOut == null}
				    			<th scope="col">Modifica</th>
								<th scope="col">Elimina</th>
				    		#{/if}
						</tr>
					</thead>
						#{paginate.list items:paginator, as:'rapportoLavoro'} 
							<tr>
				    			<td>${rapportoLavoro.dataInizio.format('dd-MM-yyyy')}</td>
				    			<td>${rapportoLavoro.dataFine?.format('dd-MM-yyyy')}</td>
				    			<td>${rapportoLavoro.tipoRapportoLavoro.codice} - ${rapportoLavoro.tipoRapportoLavoro.descrizione}</td>
				    			#{if risorsa.dataOut == null}
				    				#{if rapportoLavoro_index == risorsa.rapportiLavoro.size()}
				    					<td>
				    						<a href="@{RapportoLavoroController.edit(rapportoLavoro.idRapportoLavoro)}"><img src="@{'/public/images/edit.gif'}" alt="modifica" /></a></td>
				    						#{if risorsa.rapportiLavoro.size() > 1}
				    							<td><a href="@{RapportoLavoroController.delete(rapportoLavoro.idRapportoLavoro)}" onclick="return confirm('Sei sicuro di voler eliminare il rapporto lavoro?')"><img src="@{'/public/images/delete.gif'}" alt="delete" /></a></td>
				    						#{/if}
				    						#{else}
				    							<td></td>
				    						#{/else}
				    					</td>
				    					#{/if}
				    				#{else}
				    					<td></td>
				    					<td></td>
				    				#{/else}
				    			#{/if}
				    		</tr>
			
						#{/paginate.list}
				  	</table>
		  	<div id="datatable_costi">
				#{paginate.controls items:paginator /}
			</div>
  #{/if}
 #{else}
<center> <h3>Non vi sono Rapporti di Lavoro per la risorsa.</h3></center>
 #{/else}


<div id="buttonSubmitDouble_center">
	
	#{if !risorsa.dataOut}
		#{form @RapportoLavoroController.create(risorsa.idRisorsa)}
	    
	        <input type="submit" class="button_submit_double" value="Aggiungi" />
	    
		#{/form}
	#{/if}
	
	#{form @RisorseController.list()} 
	        <input type="submit" class="button_submit_double" value="Indietro" />
	#{/form}
</div>