<!DOCTYPE html>

<html>

    <head>
    <meta charset="${_response_encoding}">
        #{stylesheet id:'main-css',media:'screen',src:'main.css'  /}
        #{stylesheet id:'style-css',media:'screen',src:'style.css'  /}
    #{extends 'Secure/layout.html' /}
        <title>#{get 'title' /}......mia</title>
        
        #{if play.Play.id == play.Play.configuration.get("id.solvingTeam")}
			<link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">   
		#{/if}
		#{else}
			<link rel="shortcut icon" type="image/png" href="@{'/public/images/faviconGeek.png'}">   
		#{/else}
		
        #{get 'moreStyles' /}
        
        #{get 'moreScripts' /}
 
    
    </head>
    <body>
         <div id="content">
 		#{if play.Play.id == play.Play.configuration.get("id.solvingTeam")}
			<div id="logo">
				<h1><a href="@{LogInController.index()}"><img src="@{'/public/images/logo.jpg'}" width="167" height="91" alt="Logo" /></a></h1>
				<p>Solving team - Software gestionale</p>
			</div>
		#{/if}
		#{else}
			<div id="logo">
				<h1><a href="@{LogInController.index()}"><img src="@{'/public/images/logoGeek.png'}" width="228" height="112" alt="Logo" /></a></h1>
				<p>GeekLogica - Software gestionale</p>
			</div>
		#{/else}
  

    <div id="login">
	
	<h3>&{'secure.title'}</h3>
		
	#{form @authenticate()}
		
		#{if flash.error}
			<p class="error">
				&{flash.error}
			</p>
		#{/if}
		#{if flash.success}
			<p class="success">
				&{flash.success}
			</p>
		#{/if}
	
		<p id="username-field">
			<label for="username">&{'secure.username'}</label>
			<input type="text" name="username" id="username" value="${flash.username}" />
		</p>
		<p id="password-field">
			<label for="password">&{'secure.password'}</label>
			<input type="password" name="password" id="password" value="" />
		</p>
		<p id="remember-field">
			<input type="checkbox" name="remember" id="remember" value="true" ${flash.remember ? 'checked="true"' : ''} />
			<label for="remember">&{'secure.remember'}</label>
		</p>
		<!--  #{a @Application.recuperaPasswordAccount()} recupera pasword #{/a} -->
		<p id="signin-field">
			<input type="submit" id="signin" value="&{'secure.signin'}" />
		</p>
	#{/form}
</div>
        
        <div class="clear" />
         <div id="footer">
        <p>La gloria di colui che tutto move per l'universo penetra, e risplende in una parte pi&ugrave; e meno altrove. Nel ciel che pi&ugrave; de la sua luce prende f&ugrave; io, e vidi cose che ridire
			n&egrave; sa n&egrave; pu&ograve; chi di l&agrave; s&ugrave; discende;
			perch&egrave; appressando s&egrave; al suo disire,
			nostro intelletto si profonda tanto,
			che dietro la memoria non pu&ograve; ire.
		 </p>
		#{if play.Play.id == play.Play.configuration.get("id.solvingTeam")}
			<p>&copy; Copyright <strong>Solving Team</strong></p>
		#{/if}
		#{else}
			<p>&copy; Copyright <strong>GeekLogica</strong></p>
		#{/else}
          </div>
          </div>
    </body>
</html>


