/* 
	project:  small corporation
	author:   luka cvrk (www.solucija.com) 
*/

  *{ margin: 0; padding: 0; }* 
body { 
	font: .75em lucida grande, Tahoma, Verdana, Arial, Helvetica, sans-serif; 
	line-height: 1.6em;
	background: #fff;
	color: #444; 
}
.clear {
	clear: both;
}
ol,ul,li {
	list-style: none;
}

a {	color: #E60000;	background: inherit; text-decoration: none; }
a:hover { color: #AA0001; background: inherit; text-decoration: underline; }
p { margin: 0 0 15px 0; }
h1 {  margin: 20px 0 0; }
h1 a { background: inherit; }
img { border: 0; }
h2 { font: normal 1.6em lucida grande, Arial, Sans-Serif; margin: 0 0 12px; }
h3 a { font-size: 1em; }
#main h3 a { font-size: .84em; color: #808080; font-weight: normal; text-transform: uppercase; }

#content { width: 940px; margin: 0 auto; padding: 20px 0 0 0; border-top: 5px solid #eee; }

#top{ float: left; }
#top a { color: #808080; margin: 0 0 0 13px; background: #fff url(../images/toparrow.png) no-repeat center left; padding: 0 0 0 12px; }
input.searchfield { width: 175px; padding: 6px; border: 2px solid #ccc; font-size: .9em; }
input.searchbutton { background: #E60000; border: 0; padding: 6px; color: #fff; font-weight: bold; font-size: .9em; }
input.submitbutton { 
	background: #E60000; 
	border: 1px solid #0000; 
	padding: 6px; 
	color: #FFFAFB; 
	font-weight: bold; 
	/*font-size: .9em;*/ 
	float:left; 
}
input.returnbutton { 
	background: #E60000; 
	border: 1px solid #0000; 
	padding: 6px;
	margin:10px 0 0 400px; 
	color: #FFFAFB; 
	font-weight: bold; 
	/*font-size: .9em;*/ 
	 
	}


#logo { float: left; color: #808080; line-height: 25px; }
#menu { height: 35px; padding: 7px 0 0 90px; clear: both;  margin: 0 0 18px; background: #fff url(../images/menubg.gif) repeat-x; }
	#menu li { font-size: 1.1em; display: inline; text-transform: uppercase; }
	#menu li a { margin: 0 25px 0 10px; color: #808080;  }
	#menu li a:hover { color: #444; }

#left { background: #eee;  clear: left; float: left; width: 260px; padding: 10px 15px; margin: 0 0 20px; }
	#left img { margin: 0 0 8px; }
	#left li { list-style: none; }
	#left li a {  color: #787A8F; font-weight: bold; background: url(../images/arrow.gif) no-repeat center left; padding: 0 0 0 12px; }

#main { float: left; width: 655px; margin: 0 0 20px; }
	#main img { float: left; border: 3px solid #eee; padding: 1px; margin: 0 15px 5px 0; }
	#line { clear: both; padding: 3px; margin: 0 0 15px; background: #fff url(../images/smalldot.gif) repeat-x; }
	#ad { float: right; text-align: center; padding: 33px 0 0; width: 250px; border: 3px solid #eee; color: #ccc; height: 50px; margin: 0 0 15px; }
	#shortnews { float: right; width: 250px; }
	.news { border-bottom: 1px solid #eee; padding: 0 0 2px; margin: 0 0 10px;}
	
#right { margin: 0 15px 20px 0; padding: 0 0 0 15px; float: right; width: 620px; text-align: justify; }
.border { clear: both; border-left: 4px solid #ccc; padding: 0 0 0 15px; }

#rl { float: left; width: 290px; margin: 0 20px 30px 0; }
#rr { float: right; width: 290px; }
	#rl li, #rr li { list-style: none; border-bottom: 1px solid #eee; padding: 4px; margin: 0; }
	#rl li a, #rr li a { background: #fff url(../images/arrow.gif) no-repeat center left; padding: 0 0 0 12px; color: #808080;  }

#footer { clear: both; padding: 10px; margin: 0 0 15px; font-size: .9em; color: #808080; background: #eee; }
	.links a { font-weight: bold; color: #787A8F; background: #fff; margin: 0 10px 0 0; background: url(../images/dot.png) no-repeat center left; padding: 0 0 0 10px; }
	.sponsor { color: red; background: #eee; }
	#footer li { list-style: none; }
	#fl { width: 600px; }
	#fr { float: right; }

#content2 {
 height:100px; 

}	
	table,td
{
	border               : 1px solid #CCC;
	border-collapse      : collapse;
  font                 : small/1.5 "Lucida grande", "Bitstream Vera Sans", Verdana, Helvetica, sans-serif;
}
table
{
	border                :none;
	border                :1px solid #CCC;
}
.table_rapporti {
	margin:10px 0 0 168px;
}

.table_tariffe {
	margin:10px 0 0 130px;

}

.table_costi {
	margin:10px 0 0 212px;

}
.table_clienti {
	margin:10px 0 0 212px;

}
.table_rappLavoro {
	margin:10px 0 0 212px;

}
.table_commesse {
	margin:10px 0 0 212px;

}

.table_utenti {
	margin:10px 0 0 274px;

}
.table_rapportini {
	margin:10px 0 0 157px;

}


thead th,
tbody th
{
	background            : #FFF /*url(../images/th_bck.gif) repeat-x;*/
  color                 : #666;  
	padding               : 5px 10px;
  border-left           : 1px solid #CCC;
}
tbody th
{
  background            : #fafafb;
  border-top            : 1px solid #CCC;
  text-align            : left;
  font-weight           : normal;
}
tbody tr td
{
  padding               : 5px 10px;
  color                 : #666;
  text-align:center;
}
tbody tr:hover
{
  background            : #FFF url(../images/tr_bck.gif) repeat;
}

tbody tr:hover td
{
  color                 : #454545;
}
tfoot td,
tfoot th
{
  border-left           : none;
  border-top            : 1px solid #CCC;
	padding               : 4px;
  background            : #FFF url(../images/foot_bck.gif) repeat;
  color                 : #666;
}
caption
{
	text-align            : left;
	font-size             : 120%;
	padding               : 10px 0;
	color                 : #666;
}
table a:link
{
	color                 : #666;
}
table a:visited
{
	color                 : #666;
}
table a:hover
{
	color                 : #003366;
	text-decoration       : none;
}
table a:active
{
	color                 : #003366;
}


tbody a:visited:after {

	font-family: Lucida grande,sans-serif;

	content: "\00A0\221A"
}

#datatable{
 padding:10px 0 0 270px;
}
#datatable_tariffe{
 margin: 8px 0 0 275px;
}
#datatable_costi{
 margin: 8px 0 0 270px;
}
#datatable_clienti{
 margin: 8px 0 0 275px;
}
#datatable_commesse{
 margin: 8px 0 0 252px;
}
#datatable_utenti{
 margin: 8px 0 0 280px;
}
#datatable_rapportini{
 margin: 8px 0 0 280px;
}

#button{
 margin: 10px 0 0 0 ;
 /*float: right;*/
 padding: 2px;
 /*width:220px;*/
}
#button_double{
 margin: 10px 90px 0 0 ;
 /*float: right;*/
 padding: 2px;
/* width:250px;*/
}

#button_center	{
	display:block;
 	margin: 10px 0 0 372px;
 	height:32px;
 	padding: 2px;
 	width:200px;
}
#button_center_single	{
	display:block;
 	margin: 10px 0 0 425px;
 	height:32px;
 	padding: 2px;
 	width:200px;
}


#button_center_wrapped	{
	display:block;
 	margin: 10px 0 0 290px;
 	height:32px;
 	padding: 2px;
 	width:280px;
}

#show_risorsa { 
	background: #eee;  	
	width: 260px; 
	padding: 16px 40px; 
	margin: 30px 0 0 270px;
	border:1px solid;
}
#show_risorsa label {
    
    font-weight: bold;
	font-size: 1.2em;
	width: 100%;
  
}
#show_risorsa ul li {
      padding:4px;
  }
  
#insert { 
	background: #eee;  	
	width: 350px; 
	padding: 12px 21px; 
	margin: 0px 0 0 270px;
	height:270px;
	border:1px solid;
}
#insert label {
    
    font-weight: bold;
	font-size: 1.0em;
	width: 100%;
  
}
#insert ul li {
      padding:10px;
  }

#insert .txt_s {
	height: 16px;
	font-size: 11px;
	width:40px;
	border:1px solid;
}
  
#insert .txt_m {
	height: 16px;
	font-size: 11px;
	border:1px solid;
}

#insert .txt_date {
	height: 16px;
	font-size: 11px;
	border:1px solid;
	width:58px;
}

#edit { 
	background: #eee;  	
	width: 350px; 
	padding: 12px 21px; 
	margin: auto;
	border:1px solid;
}
#edit label {
    
    font-weight: bold;
	font-size: 1.0em;
	width: 100%;
  
}
#edit ul li {
      padding:10px;
  }

#edit .txt_s {
	height: 16px;
	font-size: 11px;
	width:40px;
	border:1px solid;
}
  
#edit .txt_m {
	height: 16px;
	font-size: 11px;
	border:1px solid;
}

#edit .txt_date {
	height: 16px;
	font-size: 11px;
	border:1px solid;
	width:58px;
}


#editRapportino { 
	background: #eee;  	
	padding: 12px 21px; 
	border:1px solid;
}
#editRapportino label {
    
    font-weight: bold;
	font-size: 1.2em;
	width: 100%;
  
}
#editRapportino ul li {
      padding:10px;
  }

#editRapportino .txt_s {
	height: 16px;
	font-size: 11px;
	width:40px;
	border:1px solid;
}
  
#editRapportino .txt_m {
	height: 16px;
	font-size: 11px;
	border:1px solid;
}

#editRapportino .txt_date {
	height: 16px;
	font-size: 11px;
	border:1px solid;
	width:58px;
}


#ui-datepicker-div {
	display:none;
}

.error{
  color:#E60000;

}


.success{
  color:#E60000;

}

.table_center	{
	
   margin:auto;

}

#buttonSubmit_center	{
 	text-align:center;
 	height:35px;
}

input.button_submit { 
	background: #E60000; 
	border: 1px solid #0000; 
	padding: 6px; 
	color: #FFFAFB; 
	font-weight: bold; 
}

#buttonSubmitDouble_center	{
 	text-align:center;
 	height:75px;
 	padding-left:40%;
 	padding-top:1%;
}

input.button_submit_double { 
	background: #E60000; 
	border: 1px solid #0000; 
	padding: 6px; 
	color: #FFFAFB; 
	font-weight: bold; 
	float:left;
}



#detail { 
 	
	width: 110px; 
	padding: 8px 10px 0 8px; 
	border:1px solid;
	margin:7px;
}
#detail label {
    
    font-weight: bold;
	font-size: 1.0em;
	width: 100%;
  
}
#datail ul li {
      padding:10px;
  
}



#align_form {  
  font:100% verdana,arial,sans-serif;
  background: #eee;
  border:1px solid;  	
  margin: auto;
  padding: 0;
  min-width: 500px;
  max-width: 600px;
  width: 560px;
  min-height:245px; 
}

#align_form label { 
	display: block;  
	float: left; 
	width: 150px; 
	padding: 0; 
	margin: 15px 0 0; 
	text-align: right; 
}
 
                                  

#align_form input, select {
	border:1px solid;
	width:auto;     
	margin:15px 0 0 10px; 
}

#align_form input#reset {
	margin-left:0px; 
}

textarea { overflow: auto; }

#align_form small {
	display: block;
	margin: 0 0 5px 160px;
	padding: 1px 3px;
	font-size: 88%;
}

#align_form .required{font-weight:bold;} 

#align_form br {
	clear:left; 
}


#align_form .txt_s {
	height: 16px;
	font-size: 11px;
	width:40px;
	border:1px solid;
}
  
#align_form .txt_m {
	height: 16px;
	font-size: 11px;
	border:1px solid;
}

#align_form .txt_date {
	height: 16px;
	font-size: 11px;
	border:1px solid;
	width:58px;
}



#align_form_short {  
  font:100% verdana,arial,sans-serif;
  background: #eee;
  border:1px solid;  	
  margin: auto;
  padding: 0;
  min-width: 500px;
  max-width: 600px;
  width: 440px;
  min-height:150px; 
}

#align_form_short label { 
	display: block;  
	float: left; 
	width: 150px; 
	padding: 0; 
	margin: 15px 0 0; 
	text-align: right; 
}
 
                                  

#align_form_short input, select {
	border:1px solid;
	width:auto;     
	margin:15px 0 0 10px; 
}

#align_form_short input#reset {
	margin-left:0px; 
}



#align_form_short small {
	display: block;
	margin: 0 0 5px 160px;
	padding: 1px 3px;
	font-size: 88%;
}

#align_form_short .required{font-weight:bold;} 

#align_form_short br {
	clear:left; 
}


#align_form_short .txt_s {
	height: 16px;
	font-size: 11px;
	width:40px;
	border:1px solid;
}
  
#align_form_short .txt_m {
	height: 16px;
	font-size: 11px;
	border:1px solid;
}

#align_form_short .txt_date {
	height: 16px;
	font-size: 11px;
	border:1px solid;
	width:58px;
}










