@charset "UTF-8";
/* CSS Document */


#menu, #menu ul {
	list-style: none;
}

#menu a {
	display: block;
}



#menu li ul {
	position: absolute;
	left: -999em;
}


#menu li:hover ul {
	left: 0;
	
}


#menu li:hover ul,
#menu li.sfhover ul {
	left: 0;

}



#menu, #menu ul {
	padding: 0;
	margin: 0 auto;
	list-style: none; 
	
}


#menu li ul ul, 
#menu li ul ul {
	left: -999em;
}


#menu li:hover ul, 
#menu li li:hover ul, 
#menu li.sfhover ul, 
#menu li li.sfhover ul {
	left: 0;
}



#menu li:hover ul ul, 
#menu li li:hover ul ul, 
#menu li.sfhover ul ul, 
#menu li li.sfhover ul ul {
	left:193px;
}


#menu li ul li ul{
	position:absolute;
	width: 100%;
	left:187px;
	top:0;
	display:none !important;
	z-index:10000;
} 

#menu li ul li:hover ul,
#menu li ul li.sfhover ul{
	display:block !important;
} 



