#{extends 'menu.html' /}
#{set title:'Gestione clienti'/}

<h2>Modifica cliente</h2>

<div id="edit">
	#{form @ClientiController.update()}
		
		#{ifErrors}
	        <p class="error">
				${errors[0]}
			</p>
	    #{/ifErrors}
	 <ul>
		
		<li>
	        <label for="codice">Codice cliente: </label>
	        <input type="text" class="txt_m" id="codice" name="cliente.codice" value="${cliente.codice }"/>
	    </li>
	    <li>
	        <label for="nominativo">Nominativo: </label>
	        <input type="text" class="txt_m" id="nominativo" name="cliente.nominativo" value="${cliente.nominativo }" />
	    </li>
	    <li>
	        <label for="attivo">Attivo: </label>
	        SI <input type="radio" id="attivo" name="cliente.attivo" value="true" #{if cliente.attivo == true}checked="checked"#{/if}/>
	        NO <input type="radio" id="attivo" name="cliente.attivo" value="false" #{if cliente.attivo == false}checked="checked"#{/if} />
	    </li>
	</ul>
</div>
	<div id="button_center">
			<input type="hidden" name="cliente.idCliente" value="${cliente.idCliente }" />
	        <input type="submit" class="submitbutton" value="Salva" />
	#{/form}
		<a href="@{ClientiController.list()}"><input type="button" class="submitbutton" value="Indietro" /></a>
	</div>