#{extends 'menu.html' /}
#{set title:'Gestione clienti' /}

<!-- CSS -->
#{stylesheet id:'autocoomplete',media:'screen',src:'jquery.autocomplete.css'  /}
#{stylesheet id:'jquery-css',media:'screen',src:'test.css'  /}
#{stylesheet id:'cupertino-css',media:'screen',src:'cupertino/jquery-ui-1.7.2.custom.css'  /}
<!-- JavaScript-->
#{script id:'jquery' , src:'jquery-1.5.2.min.js', charset:'utf-8' /}
#{script id:'jquery-ui' , src:'jquery-ui-1.8.14.custom.min.js', charset:'utf-8' /}
#{script id:'autocomplete' , src:'jquery.ui.autocomplete.js', charset:'utf-8' /}

<script type="text/javascript">
	$(function() {
		$("#cliente").autocomplete({
			source: "autocompleteCliente",
			minLength: 3,
			select: function( event, ui ) {
				$("#idCliente").val(ui.item.value);
				return false;
			},
			focus: function( event, ui ) {
				$("#cliente").val(ui.item.label);
				return false;
			}
		});
	});
</script>

<h2>Clienti</h2>
#{if flash.success}
	<p class="success">${flash.success}</p>
#{/if}

#{if paginator.size() > 0}
	<div id="search">
		<form action="@{ClientiController.search()}">
			<label for="ricerca">Ricerca: </label>
			<input type="text" class="txt_m" name="cliente" id="cliente" />
			<input type="hidden" name="idCliente" id="idCliente" />
			<input type="submit" value="Cerca" class="button_submit"/>
		</form>
		#{a @ClientiController.list()}mostra tutti#{/a}
		<p class="error">${flash.error}</p>
	</div>
	<table class="table_center">
		<thead>
			<tr>
				<th scope="col">Codice cliente</th>
				<th scope="col">Nominativo</th>
				<th scope="col">Attivo</th>
				<th scope="col">Modifica</th>
				<th scope="col">Elimina</th>
			</tr>
		</thead>
		#{paginate.list items:paginator, as:'cliente'} 
			<tr>
				<td><a href="@{ClientiController.show(cliente.idCliente)}">${cliente.codice }</a></td>
				<td>${cliente.nominativo }</td>
				<td>${cliente.attivo == true ? 'si' : 'no' }</td>
				<td><a href="@{ClientiController.edit(cliente.idCliente)}"><img src="@{'/public/images/edit.gif'}" alt="modifica" /></a></td>
				<td><a href="@{ClientiController.delete(cliente.idCliente)}" onclick="return confirm('Continuare con la cancellazzione di cliente: ${cliente.nominativo }');"><img src="@{'/public/images/delete.gif'}" alt="elimina" /></a></td>
				
			</tr>
		#{/paginate.list} 
	</table>
	<div id="datatable_clienti">
		#{paginate.controls items:paginator /}
	</div>
#{/if}
#{else}
	<center><h2>Nessun Cliente esistente</h2></center>
#{/else}
<div id="buttonSubmit_center">
	#{a @ClientiController.create()}<input type="button" class="button_submit" value="Aggiungi"/>#{/a}
</div>