#{extends 'menu.html' /}
#{set title:'Dettaglio Cliente'/}

<h2> Dettaglio Cliente</h2>

<div id="edit">
   <ul>

	<li>
        <label for="codice">Codice cliente: </label>
        <label>${cliente.codice }</label>
    </li>
    <li>
        <label for="nominativo">Nominativo: </label>
        <label>${cliente.nominativo }</label>

    </li>

    <li>
        <label for="attivo">Attivo: </label>
        <label>${cliente.attivo == true ? 'si' : 'no' }</label>
    </li>
    #{if cliente.commesse.size() > 0 }
    <li>
        <label for="commesse">Commesse: </label>
        <ul>
        #{list items:cliente.commesse, as:'commessa'}
			<li><a href="@{CommesseController.show(commessa.idCommessa)}">${commessa.codice }</a></li>
		#{/list}
		</ul> 
    </li>
    #{/if}
	</div>
	
	<div id="button_center">
		<input type="button" class="submitbutton" value="Indietro" onClick="history.back()"/>
		<a href="@{ClientiController.list()}"><input type="button" class="submitbutton" value="Lista clienti" /></a>
	</div>	
