#{extends 'menu.html' /}
#{set title:'Aggiungi nuovo costo' /}

#{stylesheet id:'jquery-css',media:'screen',src:'cupertino/jquery-ui-1.7.2.custom.css'  /}

#{script id:'jquery',src:'jquery-1.5.2.min.js', charset:'UTF-8' /}
#{script id:'jquery-ui',src:'jquery-ui-1.8.14.custom.min.js', charset:'UTF-8' /}
#{script id:'datepicker',src:'jquery.ui.datepicker.js', charset:'UTF-8' /}
#{script id:'datepicker-it',src:'ui.datepicker-it.js', charset:'UTF-8' /}


<script type="text/javascript">
		$(function() {
			var dates = $( "#dataInizio, #dataFine" ).datepicker({
				defaultDate: "+1w",
				changeMonth: true,
				numberOfMonths: 3,
				onSelect: function( selectedDate ) {
					var option = this.id == "dataInizio" ? "minDate" : "maxDate",
						instance = $( this ).data( "datepicker" ),
						date = $.datepicker.parseDate(
							instance.settings.dateFormat ||
							$.datepicker._defaults.dateFormat,
							selectedDate, instance.settings );
					dates.not( this ).datepicker( "option", option, date );
				}
			});
		});
       </script>

<h2>Nuovo costo</h2>

<div id="edit">
#{form @CostiController.save()}
	
	#{ifErrors}
	
       
        	
			#{errors} 
				#{ifnot error.message == 'validation.object'}
				 <p class="error">${error} </p> 
				#{/ifnot}
			#{/errors}
			
		
    #{/ifErrors}
 <ul>
	<li>
        <label for="importo">Importo:</label>
        <input type="text" class="txt_s" id="importo" name="costo.importo" value="${costo?.importo}"/>
    </li>
    <li>
        <label for="dataInizio">Data Inizio:</label>
		<input type="text" class="txt_date" id="dataInizio" name="costo.dataInizio" value="${costo?.dataInizio?.format('dd-MM-yyyy')}"/> 
    </li>
    <li>
        <label for="dataFine">Data Fine:</label>
        <input type="text" class="txt_date" id="dataFine" name="costo.dataFine" value="${costo?.dataFine?.format('dd-MM-yyyy')}" />
    </li>
  </ul>
</div>
<div id="button_center">
	<input type="hidden" name="costo.risorsa.idRisorsa" value="${costo?.risorsa?.idRisorsa}">
	<input type="submit" class="submitbutton" value="Salva" />
    
#{/form}
<a href="@{CostiController.index(costo?.risorsa?.idRisorsa)}"><input type="button" class="submitbutton" value="indietro" /></a>
</div>
