#{extends 'menu.html' /}
#{set title:'Aggiungi nuovo costo' /}

#{stylesheet id:'jquery-css',media:'screen',src:'jquery-ui-1.8.14.custom.css'  /}
#{stylesheet id:'cupertino-css',media:'screen',src:'cupertino/jquery-ui-1.7.2.custom.css'  /}
#{script id:'jquery' , src:'jquery-1.5.2.min.js', charset:'utf-8' /}
#{script id:'jquery-ui' , src:'jquery-ui-1.8.14.custom.min.js', charset:'utf-8' /}
#{script id:'datepicker' , src:'jquery.ui.datepicker.js', charset:'utf-8' /}
#{script id:'datepicker-it' , src:'ui.datepicker-it.js', charset:'utf-8' /}

<script type="text/javascript">
	$(function() {
    	$.datepicker.setDefaults($.datepicker.regional['it']);
		$('.datepicker').datepicker({
			changeMonth: true,
			changeYear: true,
			yearRange:'-59:+50'
		});
	});
</script>  

<div id="detail">
	<ul>
		<li><label>Nome: </label>${costo.risorsa.nome}</li> 
		<li><label>Cognome: </label>${costo.risorsa.cognome}</li>
		<li><label>Rapporto di lavoro: </label>${costo.risorsa.rapportiLavoro.get(costo.risorsa.rapportiLavoro.size()-1).tipoRapportoLavoro.descrizione}</li>
		#{if costo.risorsa.rapportiLavoro.get(costo.risorsa.rapportiLavoro.size()-1).tipoRapportoLavoro.codice == 'CCP' }
			<li><label>Giorni assenza retribuita: </label>${costo.risorsa.rapportiLavoro.get(costo.risorsa.rapportiLavoro.size()-1).giorniAssenzeRetribuite }</li>
		#{/if}
	</ul>
</div>

<h2>Nuovo costo</h2>
<div id="align_form_short">
#{form @CostiController.save()}
	
	#{ifErrors}
    	<p class="error">${errors[0]}</p>
	#{/ifErrors}
	
	<br />
    <label for="importoGiornaliero">Importo giornaliero:</label>
    <input type="text" class="txt_s" id="importoGiornaliero" name="costo.importoGiornaliero" value="${costo?.importoGiornaliero}"/>
    <br />
   	<label for="importoMensile">Importo mensile:</label>
    <input type="text" class="txt_s" id="importoMensile" name="costo.importoMensile" value="${costo?.importoMensile}"/>
    <br />
    <label for="dataInizio">Data Inizio:</label>
	<input type="text" class="datepicker" name="costo.dataInizio" value="${costo?.dataInizio?.format('dd-MM-yyyy')}"/> (gg-mm-aaaa)
	<br />
    <label for="dataFine">Data Fine:</label>
    <input type="text" class="datepicker" name="costo.dataFine" value="${costo?.dataFine?.format('dd-MM-yyyy')}"/> (gg-mm-aaaa)
	<br />
</div>
<div id="button_center">
	<input type="hidden" name="costo.risorsa.idRisorsa" value="${costo?.risorsa?.idRisorsa}">
	<input type="submit" class="submitbutton" value="Salva" />
#{/form}
	<a href="@{CostiController.index(costo?.risorsa?.idRisorsa)}"><input type="button" class="submitbutton" value="Indietro" /></a>
</div>
