#{extends 'menu.html' /}
#{set title:'Aggiungi nuovo costo' /}

<h2>Nuovo costo</h2>

<div id="edit">
#{form @CostiController.save()}
	
	#{ifErrors}
		#{errors} 
			#{ifnot error.message == 'validation.object'}
	 			<p class="error">${error} </p> 
			#{/ifnot}
		#{/errors}
    #{/ifErrors}
 <br />
        <label for="importo">Importo:</label>
        <input type="text" class="txt_s" id="importo" name="costo.importo" value="${costo?.importo}"/>
    <br />
        <label for="dataInizio">Data Inizio:</label>
		#{select 'costo.meseInizio', value:costo.meseInizio}
				#{option 0}GEN#{/option}
				#{option 1}FEB#{/option}
				#{option 2}MAR#{/option}
				#{option 3}APR#{/option}
				#{option 4}MAG#{/option}
				#{option 5}GIU#{/option}
				#{option 6}LUG#{/option}
				#{option 7}AGO#{/option}
				#{option 8}SET#{/option}
				#{option 9}OTT#{/option}
				#{option 10}NOV#{/option}
				#{option 11}DIC#{/option}
			#{/select}
			
			#{select 'costo.annoInizio', items:listaAnni, labelProperty:'costo.annoInizio', valueProperty:'annoInizio', value:costo.annoInizio}
			#{/select} 
    <br />
        <label for="dataFine">Data Fine:</label>
        #{select 'costo.meseFine', value:costo.meseFine}
				#{option -1}-- Mese --#{/option}
				#{option 0}GEN#{/option}
				#{option 1}FEB#{/option}
				#{option 2}MAR#{/option}
				#{option 3}APR#{/option}
				#{option 4}MAG#{/option}
				#{option 5}GIU#{/option}
				#{option 6}LUG#{/option}
				#{option 7}AGO#{/option}
				#{option 8}SET#{/option}
				#{option 9}OTT#{/option}
				#{option 10}NOV#{/option}
				#{option 11}DIC#{/option}
			#{/select}
			
			#{select 'costo.annoFine', items:listaAnni, labelProperty:'costo.annoFine', valueProperty:'annoFine', value:costo.annoFine}
				#{option -1}-- Anno --#{/option}
			#{/select} 
    
</div>
<div id="button_center">
	<input type="hidden" name="costo.risorsa.idRisorsa" value="${costo?.risorsa?.idRisorsa}">
	<input type="submit" class="submitbutton" value="Salva" />
    
#{/form}
<a href="@{CostiController.index(costo?.risorsa?.idRisorsa)}"><input type="button" class="submitbutton" value="Indietro" /></a>
</div>
