#{extends 'menu.html' /}
#{set title:'Lista Costi' /}

<div id="detail">
	<ul>
		<li><label>Nome: </label>${risorsa.nome}</li> 
		<li><label>Cognome: </label>${risorsa.cognome}</li>
		<li><label>Rapporto di lavoro: </label>${risorsa.rapportiLavoro.get(risorsa.rapportiLavoro.size()-1).tipoRapportoLavoro.descrizione}</li>
		#{if risorsa.rapportiLavoro.get(risorsa.rapportiLavoro.size()-1).tipoRapportoLavoro.codice == 'CCP' }
			<li><label>Giorni assenza retribuita: </label>${risorsa.rapportiLavoro.get(risorsa.rapportiLavoro.size()-1).giorniAssenzeRetribuite }</li>
		#{/if}
	</ul>
</div>

<h2>Costi</h2>
#{if flash.success}
   	<p class="success">${flash.success}</p>
#{/if}
#{if flash.error}
   	<p class="error">${flash.error}</p>
#{/if}

#{if paginator.size() > 0}
	<table class="table_center">
		<thead>
			<tr>
				<th scope="col">Data Inizio</th>
				<th scope="col">Data Fine</th>
				<th scope="col">Importo giornaliero</th>
				<th scope="col">Importo mensile</th>
				#{if !risorsa.dataOut}
					<th scope="col">Modifica</th>
					<th scope="col">Elimina</th>
				#{/if}
			</tr>
		</thead>
		#{paginate.list items:paginator, as:'costo'} 
		<tr>
			<td>${costo.dataInizio?.format('dd-MM-yyyy') }</td>
			<td>${costo.dataFine?.format('dd-MM-yyyy') }</td>
			<td>${costo.importoGiornaliero }</td>
			<td>${costo.importoMensile }</td>
			#{if !risorsa.dataOut}
				#{if paginator.size() == costo_index}
					<td><a href="@{CostiController.edit(costo.idCosto)}"><img src="@{'/public/images/edit.gif'}" alt="modifica" /></a></td>
					<td><a href="@{CostiController.delete(costo.idCosto)}" onclick="return confirm('Continuare con la cancellazione?');"><img src="@{'/public/images/delete.gif'}" alt="elimina" /></a></td>
				#{/if}
				#{else}
					<td></td>
					<td></td>
				#{/else}
			#{/if}
		</tr>
		#{/paginate.list} 
	</table>
	<div id="datatable_costi">
		#{paginate.controls items:paginator /}
	</div>
#{/if}
#{else}
	<center><h3>Nessun Costo esistente</h3></center>
#{/else}
<div id="button_center">
	#{if !risorsa.dataOut}
		<a id="create" href="@{CostiController.create(risorsa.idRisorsa)}"><input type="button" class="submitbutton" value="Aggiungi"/></a>
	#{/if}
	<a href="@{RisorseController.search(risorsa.idRisorsa)}"><input type="button" class="submitbutton" value="Indietro"/></a>
</div>
