#{extends 'menu.html' /}
#{set title:'Lista Costi' /}


#{if flash.success}
   	<p class="success">${flash.success}</p>
#{/if}
#{if flash.error}
   	<p class="error">${flash.error}</p>
#{/if}

<h1>Costi</h1>
<div id="detail">
<ul>
	<li><label>Risorsa: </label>${risorsa.matricola}</li>
	<li><label>Nome: </label>${risorsa.nome}</li> 
	<li><label>Cognome: </label>${risorsa.cognome}</li>
</ul>
</div>
#{if paginator.size() > 0}
	<table class="table_center">
	<thead>
		<tr>
			<th scope="col">Importo</th>
			<th scope="col">Data Inizio</th>
			<th scope="col">Data Fine</th>
			<th scope="col">Modifica</th>
			<th scope="col">Elimina</th>
		</tr>
	</thead>
		#{paginate.list items:paginator, as:'costo'} 
		<tr>
			<td>${costo.importo }</td>
			<td>${costo.dataInizio?.format('dd-MM-yyy') }</td>
			<td>${costo.dataFine?.format('dd-MM-yyy') }</td>
			<td>
				<a href="@{CostiController.edit(costo.idCosto)}"><img src="@{'/public/images/edit.gif'}" alt="modifica" /></a>
			</td>
			<td>
				<a href="@{CostiController.delete(costo.idCosto)}" onclick="return confirm('Continuare con la cancellazione?');"><img src="@{'/public/images/delete.gif'}" alt="elimina" /></a>
			</td>
		</tr>
		#{/paginate.list} 
	</table>
	<div id="datatable_costi">
	#{paginate.controls items:paginator /}
	</div>
#{/if}
#{else}
	<center><h3>Nessun Costo esistente</h3></center>
#{/else}
<div id="button_center">
	<a id="create" href="@{CostiController.create(risorsa.idRisorsa)}"><input type="button" class="submitbutton" value="Aggiungi"/></a>
	<a href="@{RisorseController.list()}"><input type="button" class="submitbutton" value="Indietro"/></a>
</div>
