#{extends 'menu.html' /}
#{set title:'Gestione Utenti' /}



   

#{if flash.error}
 	<p class="error">${flash.error} </p>
#{/ if}

#{if flash.success}
  <p class="success">
        ${flash.success}
    </p>
#{/ if}

#{if paginator.size() >0 }
	<table class="table_center">
	<caption>
	    <h3>Utenti</h3>
	   </caption>
		<thead>
		<tr>
		<th scope="col">Matricola</th>
		<th scope="col">Username</th>
		<th scope="col">E-Mail</th>
		<th scope="col">Modifica</th>
		<th scope="col">Elimina</th>
		</tr>
		</thead>
			#{paginate.list items:paginator, as:'index'} 
		    <tr>
		    	<td>${index.risorsa.matricola}</td>
		    	<td>${index.username}</td>
		    	<td>${index.email}</td>
		    	<td class="edit"><a href="showUtente?idU=${index.idUtente}"><img src="@{'/public/images/edit.gif'}" alt="modifica" /></a></td>
		    	<td class="eraser"><a href="deleteUtente?idU=${index.idUtente}" onclick="return confirm('Sei sicuro di voler procedere con la cancellazione?')"><img src="@{'/public/images/delete.gif'}" alt="elimina" /></a></td>
		    </tr>
		    #{/paginate.list}
	</table> 
		<div id="datatable_utenti">
	    #{paginate.controls items:paginator /}
	    </div>
#{/if}    
#{else}
    <center><h3>Non vi sono utenti nel sistema</h3></center>
#{/else}
<div id="buttonSubmitDouble_center">
	<a href="@{AccountController.createUtente()}" ><input type="button" class="button_submit_double" value="Aggiungi"/></a>

	<a href="@{AccountController.export()}" ><input type="button" class="button_submit_double" value="Esporta Utenti"/></a>
</div>