#{extends 'menu.html' /}
#{set title:'Aggiungi Attivita' /}

#{script id:'jquery' , src:'jquery-1.5.2.min.js', charset:'utf-8' /}
#{script id:'jquery-ui' , src:'jquery-ui-1.8.14.custom.min.js', charset:'utf-8' /}

<script type="text/javascript">
	$(document).ready(function() {
    	$("#addComm").click(function() {
        	var valoreCommessa = document.getElementById("addCommessa").value;
            var html;
            if($('#id_'+valoreCommessa).size() == 0){
	        	if(valoreCommessa != 0){
	               	var descrizione = $("#addCommessa option:selected").text();
	               	html=$("<li id=\"id_"+valoreCommessa+"\"><label>"+descrizione+" - Totale Ore: </label><input type=\"text\" id=\"id_"+valoreCommessa+"\"  name=\"id_"+valoreCommessa+"\" class=\"txt_s\"/> <input type=\"button\" id=\"id_"+valoreCommessa+"\" value=\"Elimina\" onclick=\"javascript:elimina(this);\" /></li>");
	               	$('#result').append(html);
	            }
            }
        });
   	})
   	 
	function elimina(commessa){
    	var a = commessa.id; 
       	$('#'+a).remove();
   	}
</script>

 <div id="detail">
			<ul>
				<li><label>Risorsa: </label>${risorsa.matricola}</li>
				<li><label>Nome: </label>${risorsa.nome}</li> 
				<li><label>Cognome: </label>${risorsa.cognome}</li>
				<li><label>Rapporto di lavoro: </label>${risorsa.rapportiLavoro.get(risorsa.rapportiLavoro.size()-1).tipoRapportoLavoro.descrizione}</li>
			</ul>
		</div>
<h2>Aggiungi Attivita'</h2>
<div id="editRapportino">
	#{form @rendicontoattivitacontroller.saveRendicontoAttivita()}
		#{ifErrors}
	    	<p class="error">
				${errors[0]}
			</p>
	   	#{/ifErrors}

		<h2>Lista Commesse ${mese + 1}-${anno}</h2>
  		#{if listaCommesse!= null}
			<ul>
				#{list items:listaCommesse, as:'commessa'}
	    			<li><label>${commessa.codice}<label> - Totale Ore: <input type="text" class="txt_s" name="id_${commessa.idCommessa}" 
		    			#{list items:listaRendicontoAttivita, as:'randicontoAttivita'}
		    				#{if randicontoAttivita.commessa.idCommessa == commessa.idCommessa}
		    					value="${randicontoAttivita.oreLavorate }"
		    				#{/if}
		    			#{/list}
		    			/></li>
				#{/list}
	    	</ul>
		#{/if}
	 	#{else}
	   		<h3>Non vi sono commesse fatturabili</h3><br>
		#{/else} 
    
   		#{if listaCommesseNonFatturabili != null && listaCommesseNonFatturabili.size() > 0}
   		<hr>
   		<li>
	   		<label>Commesse non Fatturabili<label>
		    #{select 'comm', value:idCommessa, id:'addCommessa'}  
		    	#{option 0}--Seleziona--#{/option}
		   		#{list items:listaCommesseNonFatturabili, as:'commessa'}
					#{option commessa.idCommessa}${commessa.descrizione}#{/option}
				#{/list}
			#{/select}
			<input type="button" id="addComm" value="Aggiungi"/>
		</li>
		#{/if}
 		#{else}
   			<center><h3> Non vi sono commesse non fatturabili.</h3></center>
		#{/else}    
    
  		<div id="result"></div>
  		<div id="button_center">   
  			<input type="hidden" name="anno" value="${anno}"/>
       		<input type="hidden" name="mese" value="${mese}"/>
        	<input type="hidden" name="idRisorsa" value="${idRisorsa}"/>    
 			<input type="submit" class="submitbutton" value="Aggiorna" />
 			<input type="button" class="submitbutton" value="Indietro" onClick="history.back()"/>
 		</div>
	#{/form}
</div>