#{extends 'menu.html' /}
#{set title:'Gestione Rapportini' /}

<div id="detail">
	<ul>
		<li><label>Risorsa: </label>${risorsa.matricola}</li>
		<li><label>Nome: </label>${risorsa.nome}</li> 
		<li><label>Cognome: </label>${risorsa.cognome}</li>
	</ul>
</div>

<h2>Rapportino del: ${mese}-${anno}</h2>

#{if flash.success}
   	<p class="success">${flash.success}</p>
#{/if}

#{if paginator.size() > 0}
	<table class="table_center">
		<thead>
			<tr>
				<th scope="col">Commessa</th>
				<th scope="col">Ore</th>
				<th scope="col">Elimina</th>
			</tr>
		</thead>
			
		#{paginate.list items:paginator, as:'rendicontoAttivita'} 
			<tr>
				<td>${rendicontoAttivita.commessa.codice }</td>
				<td>${rendicontoAttivita.oreLavorate }</td>
				<td><a href="@{RendicontoAttivitaController.delete(rendicontoAttivita.idRendicontoAttivita)}" 
					onclick="return confirm('Continuare con la cancellazzione del rapportino della risorsa: ${rendicontoAttivita.risorsa.matricola}, relativo al ${rendicontoAttivita.mese }-${rendicontoAttivita.anno }');"><img src="@{'/public/images/delete.gif'}" alt="elimina" /></a></td>
			</tr>
		#{/paginate.list}  
	</table>
	<div id="datatable_rapportini">
		#{paginate.controls items:paginator /}
	</div>
#{/if}
#{else}
	<center><h2>Nessuna Attivita' presente</h2></center>
#{/else}
<div id="buttonSubmit_center">
	#{a @RendicontoAttivitaController.aggiungiAttivita(risorsa.idRisorsa,mese,anno)}<input type="button" class="button_submit" value="Aggiungi attivita'"/>#{/a}
	#{a @RendicontoAttivitaController.backList(mese,anno)}<input type="button" class="button_submit" value="Indietro"/>#{/a}
	#{a @RendicontoAttivitaController.search()}<input type="button" class="button_submit" value="Nuova Ricerca"/>#{/a}
</div>