#{extends 'menu.html' /}
#{set title:'Rapportini mancanti'/}

<h2>Lista Rapportini mancanti del ${mese+1}/${anno}</h2>

#{if paginator.size() > 0}
	<table class="table_center">
		<thead>
			<tr>
				<th scope="col">Codice</th>
				<th scope="col">Cognome</th>
				<th scope="col">Nome</th>
				<th scope="col">Rapportino</th>
			</tr>
		</thead>
		#{paginate.list items:paginator, as:'risorsa'} 
		<tr>
			<td>${risorsa.codice }</td>
			<td>${risorsa.cognome }</td>
			<td>${risorsa.nome }</td>
			<td>#{a @rendicontoattivitacontroller.createRendicontoAttivita(risorsa.idRisorsa,mese,anno)}Inserisci#{/a}</td>
		</tr>
		#{/paginate.list} 
	</table>
	<div id="datatable">
	#{paginate.controls items:paginator /}
	</div>
#{/if}
#{else}
	<center><h3>Nessuna Anomalia Presente</h3></center>
#{/else}

<div id="button_center">		
	#{a @RendicontoAttivitaController.rapportiniMancanti()}<input type="button" class="submitbutton" value="Indietro" />#{/a}
</div>