#{extends 'menu.html' /}
#{set title:'Gestione Rapportini' /}

#{if flash.success}
   	<p class="success">${flash.success}</p>
#{/if}

#{if paginator.size() > 0}

	<table class="table_rapportini">
		 <caption>
		    <h3>Rapportini del: ${mese}-${anno}</h3>
		   </caption>
		<thead>
			<tr>
				<th scope="col">Matricola</th>
				<th scope="col">Risorsa</th>
				<th scope="col">Mese</th>
				<th scope="col">Anno</th>
				<th scope="col">Dettagli</th>
			</tr>
		</thead>
		#{paginate.list items:paginator, as:'rendicontoAttivita'} 
		<tr>
			<td>${rendicontoAttivita.risorsa.matricola }</td>
			<td>${rendicontoAttivita.risorsa.cognome } ${rendicontoAttivita.risorsa.nome }</td>
			<td>${rendicontoAttivita.mese }</td>
			<td>${rendicontoAttivita.anno }</td>
			<td><a href="@{RendicontoAttivitaController.dettaglio(rendicontoAttivita.risorsa.idRisorsa,rendicontoAttivita.mese,rendicontoAttivita.anno)}">Dettagli</a></td>
		</tr>
		#{/paginate.list} 
	</table>
	<div id="datatable_rapportini">
	#{paginate.controls items:paginator /}
	</div>
#{/if}
#{else}
	<center><h2>Nessun Rapportino esistente</h2>
	<a id="create" href="@{RendicontoAttivitaController.search()}">Nuova Ricerca</a>
	</center>
#{/else}
