#{extends 'menu.html' /}
#{set title:'Gestione Rapportini' /}

#{if flash.success}
   	<p class="success">${flash.success}</p>
#{/if}

<h2>Rapportini del: ${mese}-${anno}</h2>
#{if paginator.size() > 0}
	<table class="table_center">
		<thead>
			<tr>
				<th scope="col">Matricola</th>
				<th scope="col">Risorsa</th>
				<th scope="col">Mese</th>
				<th scope="col">Anno</th>
				<th scope="col">Dettagli</th>
			</tr>
		</thead>
		#{paginate.list items:paginator, as:'rendicontoAttivita'} 
			<tr>
				<td>${rendicontoAttivita.risorsa.matricola }</td>
				<td>${rendicontoAttivita.risorsa.cognome } ${rendicontoAttivita.risorsa.nome }</td>
				<td>${rendicontoAttivita.mese }</td>
				<td>${rendicontoAttivita.anno }</td>
				<td>#{a @RendicontoAttivitaController.dettaglio(rendicontoAttivita.risorsa.idRisorsa,rendicontoAttivita.mese,rendicontoAttivita.anno)}Dettagli#{/a}</td>
			</tr>
		#{/paginate.list} 
	</table>
	<div id="datatable_rapportini">
		#{paginate.controls items:paginator /}
	</div>
#{/if}
#{else}
	<center>
		<h2>Nessun Rapportino esistente</h2>
		#{a @RendicontoAttivitaController.search()}Nuova Ricerca#{/a}
	</center>
#{/else}
<div id="buttonSubmit_center">
	#{a @RendicontoAttivitaController.search() }<input type="button" class="button_submit" value="Indietro" />#{/a}
</div>