#{extends 'menu.html' /}
#{set title:'Gestione Rapportini' /}

<h2>Ricerca Rapportini Incompleti</h2>
		#{ifErrors}
	   	    <p class="error">
				${errors[0]}</p>
	   	#{/ifErrors}
#{form @RendicontoAttivitaController.listRapportiniIncompleti()}
	<div id="form_small">
		<p class="campi_obbligatori">I campi contrassegnati dall&#39;asterisco (&#42;) sono obbligatori</p>
		<table class="table_form">
    	<tr>
	  
		<td><label for="data">&#42; Data:</label></td>
		<td>#{select 'mese', value:mese}
			#{option 0}GEN#{/option}
			#{option 1}FEB#{/option}
			#{option 2}MAR#{/option}
			#{option 3}APR#{/option}
			#{option 4}MAG#{/option}
			#{option 5}GIU#{/option}
			#{option 6}LUG#{/option}
			#{option 7}AGO#{/option}
			#{option 8}SET#{/option}
			#{option 9}OTT#{/option}
			#{option 10}NOV#{/option}
			#{option 11}DIC#{/option}
		#{/select}
		#{select 'anno', items:listaAnni, labelProperty:'anno', valueProperty:'anno', value:anno /}
		</td>
		</tr>
    </table>
	</div>
	<div id="button_center">
    	<input type="submit" class="submitbutton" value="Cerca" />
	</div>
#{/form}
<div class="navigation">
<a class="button_nav" href="@{RendicontoAttivitaController.index()}">Indietro</a>
</div>