#{extends 'main.html' /}
#{set title:'Gestione Rapportini' /}


 <script type="text/javascript">
	  		  $(function() {
	    		$.datepicker.setDefaults($.datepicker.regional['it']);
			   	  $('#datepicker2').datepicker({
					changeMonth: true,
					changeYear: true,
					yearRange:'-59:+50',
					 dateFormat: 'MM - yy'
		
				});
	  		});
       </script>

#{form @rapportoattivitacontroller.saveRapportoAttivita()}
Data
<input type="text" id="datepicker2" name="data"/> <br />

 Lista Commesse
    	#{select 'commessa', items:listaCommesse, valueProperty:'idCommessa', labelProperty:'descrizione', class:"test", id:'selectCommessa' /}
    
    
     <input type="submit" value="Salva" />
#{/form}
    