#{extends 'menu.html' /}
#{set title:'Statistiche Clienti' /}

#{form @StatisticheController.showClienti()}
<div id="form_small">
<table class="table_form">
    <tr>
    <td><label for="anno">Anno:</label></td>
	<td>#{select  'anno', items:listaAnni}#{/select}</td>
	</tr>
</table>
</div>
<div id="button_center">	
        <input type="submit" class="submitbutton" value="Invia" />
</div>
#{/form}
<div class="navigation">
	<a class="button_nav" href="@{StatisticheController.index()}">Indietro</a>
</div>		
