#{extends 'menu.html' /}
#{set title:'Statistiche Risorse' /}

#{stylesheet id:'jquery-css',media:'screen',src:'jquery-ui-1.8.14.custom.css'  /}
#{stylesheet id:'cupertino-css',media:'screen',src:'cupertino/jquery-ui-1.7.2.custom.css'  /}
#{script id:'jquery' , src:'jquery-1.5.2.min.js', charset:'utf-8' /}
#{script id:'jquery-ui' , src:'jquery-ui-1.8.14.custom.min.js', charset:'utf-8' /}
#{script id:'datepicker' , src:'jquery.ui.datepicker.js', charset:'utf-8' /}
#{script id:'datepicker-it' , src:'ui.datepicker-it.js', charset:'utf-8' /}
<script type="text/javascript">
  		  $(function() {
    		$.datepicker.setDefaults($.datepicker.regional['it']);
		   	  $('#datepicker1').datepicker({
				changeMonth: true,
				changeYear: true,
				yearRange:'-59:+50'
	
		});
  });
</script>  		  
#{form @StatisticheController.showCommesseCollaboratoriMese()}
<div id="form_small">
<table class="table_form">
    <tr>
    <td><label for="data">Mese:</label></td>
    <td>
    	<select name="mese">
    	<option value="1">GENNAIO</option>
    	<option value="2">FEBBRAIO</option>
    	<option value="3">MARZO</option>
    	<option value="4">APRILE</option>
    	<option value="5">MAGGIO</option>
    	<option value="6">GIUGNO</option>
    	<option value="7">LUGLIO</option>
    	<option value="8">AGOSTO</option>
    	<option value="9">SETTEMBRE</option>
    	<option value="10">OTTOBRE</option>
    	<option value="11">NOVEMBRE</option>
    	<option value="12">DICEMBRE</option>
    	</select>
    </td>
     </tr>
     <tr>
    	<td><label for="anno">Anno:</label></td>
		<td>#{select  'anno', items:listaAnni}#{/select}</td>
	</tr>
	</table>
</div>
<div id="button_center">	
        <input type="submit" class="submitbutton" value="Invia" />
</div>
#{/form}
<div class="navigation">
	<a class="button_nav" href="@{StatisticheController.index()}">Indietro</a>
</div>	
