#{extends 'menu.html' /}
#{set title:'Statistiche' /}

		<div id="top">
			<p>#{a @StatisticheController.risorse()}Risorse#{/a}</p>
			<p>#{a @StatisticheController.clienti()}Clienti#{/a}</p>
			<p>#{a @StatisticheController.commesse()}Commesse Non Fatturabili#{/a}</p>
			<p>#{a @StatisticheController.commesseNonFatturabili()}Commesse Non Fatturabili Anno#{/a}</p>
			<p>#{a @StatisticheController.commesseClienti()}Commesse Clienti Anno#{/a}</p>
			<p>#{a @StatisticheController.portafoglioOrdini()}Portafoglio Ordini#{/a}</p>
		</div>