#{extends 'menu.html' /}
#{set title:'Statistiche Commesse Clienti' /}

 		  

<div id="edit">


#{form @StatisticheController.showPortafoglioOrdini()}
<ul>
   
  
     <li>
    	<label for="anno">Anno:</label>
		#{select  'anno', items:listaAnni}
		#{/select}
	</li>
    
    
    
  
	</ul>
</div>
<div id="button_center">	
        <input type="submit" class="submitbutton" value="Invia" />
    
    
#{/form}

#{form @StatisticheController.index()} 
	
        <input type="submit" class="submitbutton" value="Indietro" />
    
#{/form}
</div>