#{extends 'menu.html' /}
#{set title:'Gestione Gruppi' /}

<h2>Nuovo Gruppo</h2>

<div id="edit">
#{form @GruppiController.save()}
	#{ifErrors}
		<p class="error">${errors[0]}</p>
	#{/ifErrors}
	<ul>
		<li>
	    	<label for="codice">Codice:</label>
	        <input type="text" class="txt_m" name="gruppo.codice" id="codice" value="${gruppo?.codice}"/>
	    </li>
	    <li>
	        <label for="descrizione">Descrizione:</label>
	        <input type="text" class="txt_m" name="gruppo.descrizione" id="descrizione" value="${gruppo?.descrizione}"/>
	    </li>
	</ul>
</div>
<div id="button_center">
	<input type="submit" class="submitbutton" value="Salva" />
    <a href="@{GruppiController.list()}"><input type="button" class="submitbutton" value="Indietro" /></a>
</div>	
#{/form}