#{extends 'menu.html' /}
#{set title:'Aggiungi risorsa' /}

#{stylesheet id:'jquery-css',media:'screen',src:'jquery-ui-1.8.14.custom.css'  /}
#{stylesheet id:'cupertino-css',media:'screen',src:'cupertino/jquery-ui-1.7.2.custom.css'  /}
#{script id:'jquery' , src:'jquery-1.5.2.min.js', charset:'utf-8' /}
#{script id:'jquery-ui' , src:'jquery-ui-1.8.14.custom.min.js', charset:'utf-8' /}
#{script id:'datepicker' , src:'jquery.ui.datepicker.js', charset:'utf-8' /}
#{script id:'datepicker-it' , src:'ui.datepicker-it.js', charset:'utf-8' /}

<script type="text/javascript">
	$(function() {
    	$.datepicker.setDefaults($.datepicker.regional['it']);
		$('#datepicker1').datepicker({
			changeMonth: true,
			changeYear: true,
			yearRange:'-59:+50'
		});
	});

	function toggle_visibility(id) {
		var e = document.getElementById(id);
		if(document.getElementById("select").value == ${idCoCoPro}){
		   	e.style.display = 'block';
		}else {
		   	e.style.display = 'none';
		}
    }
</script>  
				  
<h2>Aggiungi Risorsa</h2>
<div id="align_form">
#{ifErrors}
    <p class="error">${errors[0]}</p>
#{/ifErrors}

#{form @RisorseController.save()}
   
        <label for="codice">Codice:</label>
        <input type="text" class="txt_s"  name="risorsa.codice" id="codice" value="${risorsa?.codice}"/><br />
   
        <label for="nome">Nome:</label>
        <input type="text" class="txt_m" name="risorsa.nome" id="nome" value="${risorsa?.nome}"/><br />
   
        <label for="cognome">Cognome:</label>
        <input type="text" class="txt_m" name="risorsa.cognome" id="cognome" value="${risorsa?.cognome}"/><br />
   
        <label for="dataIn">Data In:</label>
        <input type="text" class="txt_date" name="risorsa.dataIn" id="datepicker1" value="${risorsa?.dataIn?.format('dd-MM-yyyy')}"/> (gg-mm-aaaa)<br />

    	<label for="tipoStatoRisorsa">Stato:</label>
    	#{select 'risorsa.tipoStatoRisorsa.idTipoStatoRisorsa', items:listaTipoStatoRisorsa, labelProperty:'descrizione', valueProperty:'idTipoStatoRisorsa', value:risorsa.tipoStatoRisorsa?.idTipoStatoRisorsa/}<br />
    	
    	<label for="gruppo">Gruppo:</label>
    	#{select 'risorsa.gruppo.idGruppo', items:listaGruppi, labelProperty:'descrizione', valueProperty:'idGruppo', value:risorsa.gruppo?.idGruppo /}<br />
		
		<label for="tipoRapportoLavoro">Tipo Rapporto Lavoro:</label>
		<select id="select" name="idTipoRapportoLavoro" onchange="toggle_visibility('giorni');"> 
			<option value="0" >-- Seleziona --</option>
			#{list items: listaTipoRapportoLavoro, as: 'tipoRapportoLavoro'}
		    	<option value="${tipoRapportoLavoro.idTipoRapportoLavoro}" 
		    		#{if tipoRapportoLavoro.idTipoRapportoLavoro == idTipoRapportoLavoro}
		    			selected="selected"
		    		#{/if}
		    		>${tipoRapportoLavoro.descrizione}</option>
		    #{/list}
		</select><br />
		
		<span id="giorni" #{if idTipoRapportoLavoro != idCoCoPro}
				    			style="display: none"
				    		#{/if}>
			<label for="ggAssRetr">Giorni di assenza retribuiti:</label>
			<input type="text" name="giorniAssenzeRetribuite" value="${giorniAssenzeRetribuite}"/>
		</span>
		<br />
</div>
<div id="button_center">		
        <input type="submit" class="button_submit_double"  value="Aggiungi" />
#{/form}

#{form @RisorseController.list()} 
        <input type="submit" class="button_submit_double" value="Indietro" />
#{/form}

</div>