#{extends 'menu.html' /}
#{set title:'RisorseController/index.html' /}

#{stylesheet id:'jquery-css',media:'screen',src:'jquery-ui-1.8.14.custom.css'  /}
#{stylesheet id:'cupertino-css',media:'screen',src:'cupertino/jquery-ui-1.7.2.custom.css'  /}
#{script id:'jquery' , src:'jquery-1.5.2.min.js', charset:'utf-8' /}
#{script id:'jquery-ui' , src:'jquery-ui-1.8.14.custom.min.js', charset:'utf-8' /}
#{script id:'datepicker' , src:'jquery.ui.datepicker.js', charset:'utf-8' /}
#{script id:'datepicker-it' , src:'ui.datepicker-it.js', charset:'utf-8' /}
<script type="text/javascript">
  		  $(function() {
    		$.datepicker.setDefaults($.datepicker.regional['it']);
		   	  $('#datepicker1').datepicker({
				changeMonth: true,
				changeYear: true,
				yearRange:'-59:+50'
	
		});
  });
</script>  		  
<h2>Aggiungi Risorsa</h2>
<div id="insert">
#{ifErrors}
    <p class="error">${errors[0]}</p>
#{/ifErrors}


#{form @RisorseController.save()}

<ul>

    <li>
        <label for="matricola">Matricola:</label>
   
        <input type="text" class="txt_s" name="risorsa.matricola" id="matricola" value="${risorsa?.matricola}"/>
    </li>

    <li>
        <label for="codice">Codice:</label>
        <input type="text" class="txt_s" name="risorsa.codice" id="codice" value="${risorsa?.codice}"/>
    </li>
    <li>
        <label for="nome">Nome:</label>
        <input type="text" class="txt_m" name="risorsa.nome" id="nome" value="${risorsa?.nome}"/>
    </li>
    <li>
        <label for="cognome">Cognome:</label>
        <input type="text" class="txt_m" name="risorsa.cognome" id="cognome" value="${risorsa?.cognome}"/>
    </li>
    <li>
        <label for="dataIn">Data In: <small>(gg-mm-aaaa)</small></label>
        <input type="text" class="txt_date" name="risorsa.dataIn" id="datepicker1" value="${risorsa?.dataIn?.format('dd-MM-yyyy')}"/>
    </li>
    <li>
    	<label for="tipoRapportoLavoro">Tipo Rapporto Lavoro:</label>
		#{select  'idTipoRapportoLavoro', items:listaTipoRapportoLavoro, labelProperty:'descrizione', valueProperty:'idTipoRapportoLavoro', value:idTipoRapportoLavoro}
			#{option 0}-- Seleziona--#{/option}
		#{/select}
	</li>

	</ul>

</div>
<div id="button_center">	
        <input type="submit" class="submitbutton" value="Aggiungi" />
    
    
#{/form}

#{form @RisorseController.list()} 
	
        <input type="submit" class="submitbutton" value="Indietro" />
    
#{/form}
</div>
