#{extends 'main.html' /}
#{set title:'RisorseController/createRapportoLavoro.html' /}

<div>
		Risorsa: ${risorsa.matricola}
		<br>
		${risorsa.nome} ${risorsa.cognome}
		<br>
		Data In: ${risorsa.dataIn.format('dd-MM-yyyy')}
</div>
<hr>

#{ifErrors}
    <p class="error">${errors[0]}</p>
#{/ifErrors}
#{elseif flash.error}
    <p class="error">${flash.error}</p>
#{/elseif}

#{form @RisorseController.saveRapportoLavoro()}
    <p>
    	<label for="tipoRapportoLavoro">Tipo Rapporto Lavoro</label>
		#{select 'idTipoRapportoLavoro', items:listaTipoRapportoLavoro, labelProperty:'descrizione', valueProperty:'idTipoRapportoLavoro', value:idTipoRapportoLavoro}
			#{option 0}-- Seleziona un Tipo Rapporto Lavoro --#{/option}
		#{/select}
	</p>
	<p>
    	<label for="meseInizio">Mese Inizio</label>
		#{select 'meseInizio', value:meseInizio}
			#{option 0}GEN#{/option}
			#{option 1}FEB#{/option}
			#{option 2}MAR#{/option}
			#{option 3}APR#{/option}
			#{option 4}MAG#{/option}
			#{option 5}GIU#{/option}
			#{option 6}LUG#{/option}
			#{option 7}AGO#{/option}
			#{option 8}SET#{/option}
			#{option 9}OTT#{/option}
			#{option 10}NOV#{/option}
			#{option 11}DIC#{/option}
		#{/select}
	</p>
	<p>
    	<label for="annoInizio">Anno Inizio</label>
		#{select 'annoInizio', items:listaAnni, labelProperty:'annoInizio', valueProperty:'annoInizio', value:annoInizio}
		#{/select}
	</p>
	<p>
        <input type="hidden" name="idRisorsa" value="${risorsa.idRisorsa}" />
    	<input type="submit" value="Aggiungi" />
    </p>
#{/form}
#{form @RisorseController.listRapportoLavoro(risorsa.idRisorsa)} 
	<p>
		<input type="submit" value="Annulla" />
    </p>
#{/form}