#{extends 'menu.html' /}
#{set title:'Gestione Risorse' /}

#{if flash.success}
    <p class="success">${flash.success}</p>
#{/if}

#{if listaRisorse.size() > 0}
<div>
	<table class="table_center">
	  <caption>
	    <h3>Risorse</h3>
	   </caption>
	   <thead>
		<tr>
			<th scope="col">Matricola</th>
			<th scope="col">Codice</th>
			<th scope="col">Nome</th>
			<th scope="col">Cognome</th>
			<th scope="col">Data In</th>
			<th scope="col">Data Out</th>
			<th scope="col">Modifica</th>
			<th scope="col">Elimina</th>
			<th scope="col">Rapporto Lavoro</th>
			<th scope="col">Tariffa</th>
			<th scope="col">Costo</th>
		</tr>
		</thead>
		
  		#{paginate.list items:listaRisorse, as:'risorsa'}
  			<tr>
    			<td><a href="@{RisorseController.show(risorsa.idRisorsa)}">${risorsa.matricola}</a></td>
    			<td>${risorsa.codice}</td>
    			<td>${risorsa.nome}</td>
    			<td>${risorsa.cognome}</td>
    			<td>${risorsa.dataIn.format('dd-MM-yyyy')}</td>
    			<td>${risorsa.dataOut?.format('dd-MM-yyyy')}</td>
    			<td><a href="@{RisorseController.edit(risorsa.idRisorsa)}"><img src="@{'/public/images/edit.gif'}" alt="modifica" /></a></td>
    		    <td><a href="@{RisorseController.delete(risorsa.idRisorsa)}" onclick="return confirm('Disattivare la risorsa?');"><img src="@{'/public/images/delete.gif'}" alt="elimina" /></a></td>
    			<td><a href="@{RapportoLavoroController.list(risorsa.idRisorsa)}"><img src="@{'/public/images/rapp.png'}" alt="rapporto lavoro" /></a></td>
    			<td><a href="@{TariffeController.list(risorsa.idRisorsa)}"><img src="@{'/public/images/tariffe.png'}" alt="tariffe" /></a></td>
    			<td><a href="@{CostiController.index(risorsa.idRisorsa)}"><img src="@{'/public/images/costo.gif'}" alt="costo" /></a></td>
    		</tr>
		#{/paginate.list}
  	</table>
  	<div id="datatable">
 	#{paginate.controls items:listaRisorse /}
 	</div>	
</div>
#{/if}
#{else}
    <div>Nessuna Risorsa presente</div>
#{/else}

<div id="buttonSubmit_center">
#{form @RisorseController.create()}
   
        <input type="submit" class="button_submit_double" value="Aggiungi Risorsa" />
  
#{/form}

#{form @RisorseController.export()}
   
        <input type="submit" class="button_submit_double" value="Esporta Risorse" />
  
#{/form}
<div>
