#{extends 'menu.html' /}
#{set title:'Gestione Risorse' /}

<!-- CSS -->
#{stylesheet id:'autocoomplete',media:'screen',src:'jquery.autocomplete.css'  /}
#{stylesheet id:'jquery-css',media:'screen',src:'test.css'  /}
#{stylesheet id:'cupertino-css',media:'screen',src:'cupertino/jquery-ui-1.7.2.custom.css'  /}
<!-- JavaScript-->
#{script id:'jquery' , src:'jquery-1.5.2.min.js', charset:'utf-8' /}
#{script id:'jquery-ui' , src:'jquery-ui-1.8.14.custom.min.js', charset:'utf-8' /}
#{script id:'autocomplete' , src:'jquery.ui.autocomplete.js', charset:'utf-8' /}

<script type="text/javascript">
	$(function() {
		$("#risorsa").autocomplete({
			source: "autocompleteRisorsa",
			minLength: 2,
			select: function( event, ui ) {
				$("#idRisorsa").val(ui.item.value);
				return false;
			},
			focus: function( event, ui ) {
				$("#risorsa").val(ui.item.label);
				return false;
			}
		});
	});
</script>

<h2>Risorse</h2>
#{if flash.success}
    <p class="success">${flash.success}</p>
#{/if}

#{if listaRisorse.size() > 0}
	<div>
		<div id="search">
			<form action="@{RisorseController.search()}">
				<label for="ricerca">Ricerca: </label>
				<input type="text" class="txt_m" name="risorsa" id="risorsa" />
				<input type="hidden" name="idRisorsa" id="idRisorsa" />
				<input type="submit" value="Cerca" class="button_search"/>
			</form>
			<br />
			<span class="search">
				#{a @RisorseController.list()}Mostra tutto#{/a}
				#{a @RisorseController.listDipendenti()}Risorse dipendenti#{/a}
				#{a @RisorseController.listCoCoPro()}Risorse Co.Co.Pro.#{/a}
			</span>
			<p class="error">${flash.error}</p>
		</div>
		<table class="table_center">
		   <thead>
			<tr>
				<th scope="col"><a href="@{RisorseController.order('codice',ordinamento,lastParametro,filtro)}">Codice</a></th>
				<th scope="col"><a href="@{RisorseController.order('nome',ordinamento,lastParametro,filtro)}">Nome</a></th>
				<th scope="col"><a href="@{RisorseController.order('cognome',ordinamento,lastParametro,filtro)}">Cognome</a></th>
				<th scope="col"><a href="@{RisorseController.order('dataIn',ordinamento,lastParametro,filtro)}">Data In</a></th>
				<th scope="col"><a href="@{RisorseController.order('dataOut',ordinamento,lastParametro,filtro)}">Data Out</a></th>
				<th scope="col"><a href="@{RisorseController.order('tipoStatoRisorsa',ordinamento,lastParametro,filtro)}">Stato</a></th>
				<th scope="col">Modifica</th>
				<th scope="col">Elimina</th>
				<th scope="col">Rapporto Lavoro</th>
				<th scope="col">Tariffa</th>
				<th scope="col">Costo</th>
			</tr>
			</thead>
			
	  		#{paginate.list items:listaRisorse, as:'risorsa'}
	  			<tr>
	    			<td><a href="@{RisorseController.show(risorsa.idRisorsa)}">${risorsa.codice}</a></td>
	    			<td>${risorsa.nome}</td>
	    			<td>${risorsa.cognome}</td>
	    			<td>${risorsa.dataIn.format('dd-MM-yyyy')}</td>
	    			<td>${risorsa.dataOut?.format('dd-MM-yyyy')}</td>
	    			<td>${risorsa.tipoStatoRisorsa.codice}</td>
	    			<td><a href="@{RisorseController.edit(risorsa.idRisorsa)}"><img src="@{'/public/images/edit.gif'}" alt="modifica" /></a></td>
	    		    <td><a href="@{RisorseController.delete(risorsa.idRisorsa)}" onclick="return confirm('Disattivare la risorsa?');"><img src="@{'/public/images/delete.gif'}" alt="elimina" /></a></td>
	    			<td><a href="@{RapportoLavoroController.list(risorsa.idRisorsa)}"><img src="@{'/public/images/rapp.png'}" alt="rapporto lavoro" /></a></td>
	    			<td><a href="@{TariffeController.list(risorsa.idRisorsa)}"><img src="@{'/public/images/tariffe.png'}" alt="tariffe" /></a></td>
	    			<td><a href="@{CostiController.index(risorsa.idRisorsa)}"><img src="@{'/public/images/costo.gif'}" alt="costo" /></a></td>
	    		</tr>
			#{/paginate.list}
	  	</table>
	  	<div id="datatable">
	 	#{paginate.controls items:listaRisorse /}
	 	</div>	
	</div>
#{/if}
#{else}
    <div>Nessuna Risorsa presente</div>
#{/else}

<div id="buttonSubmit_center">
#{form @RisorseController.create()}
   
        <input type="submit" class="button_submit_double" value="Aggiungi Risorsa" />
  
#{/form}

#{form @RisorseController.export()}
   
        <input type="submit" class="button_submit_double" value="Esporta Risorse" />
  
#{/form}
<div>
