#{extends 'main.html' /}
#{set title:'RisorseController/listRapportoLavoro.html' /}

<div>
		Risorsa: ${risorsa.matricola}
		<br>
		${risorsa.nome} ${risorsa.cognome}
		<br>
		Data In: ${risorsa.dataIn.format('dd-MM-yyyy')} #{if risorsa.dataOut != null}, Data Out: ${risorsa.dataOut?.format('dd-MM-yyyy')} #{/if}
</div>
<hr>

#{if flash.success}
    <p class="success">${flash.success}</p>
#{/if}
#{elseif flash.error}
    <p class="error">${flash.error}</p>
#{/elseif}


<div>
	<table class="gestioneaccount">
		<tr>
			<td>Data Inizio</td>
			<td>Data Fine</td>
			<td>Tipo Rapporto Lavoro</td>
			#{if risorsa.dataOut == null}
    			<td></td>
    		#{/if}
		</tr>
		#{list items:risorsa.rapportiLavoro, as:'rapportoLavoro', startIndex: 0}
			<tr>
    			<td>${rapportoLavoro.dataInizio.format('dd-MM-yyyy')}</td>
    			<td>${rapportoLavoro.dataFine?.format('dd-MM-yyyy')}</td>
    			<td>${rapportoLavoro.tipoRapportoLavoro.codice} - ${rapportoLavoro.tipoRapportoLavoro.descrizione}</td>
    			#{if risorsa.dataOut == null}
    				#{if rapportoLavoro_index == risorsa.rapportiLavoro.size()}
    					<td>
    						<a href="@{RisorseController.editRapportoLavoro(rapportoLavoro.idRapportoLavoro)}"> MOD </a>
    						#{if risorsa.rapportiLavoro.size() > 1}
    							<a href="@{RisorseController.deleteRapportoLavoro(rapportoLavoro.idRapportoLavoro)}" onclick="return confirm('Sei sicuro di voler eliminare il rapporto lavoro?')"> CANC</a>
    						#{/if}
    					</td>
    					#{/if}
    				#{else}
    					<td></td>
    				#{/else}
    			#{/if}
    		</tr>
		#{/list}
  	</table>
</div>

#{if !risorsa.dataOut}
	#{form @RisorseController.createRapportoLavoro(risorsa.idRisorsa)}
    <p>
        <input type="submit" value="Aggiungi Rapporto Lavoro" />
    </p>
	#{/form}
#{/if}

#{form @RisorseController.list()} 
	<p>
        <input type="submit" value="Indietro" />
    </p>
#{/form}