#{extends 'menu.html' /}


<h2>Dettaglio Risorsa</h2>
<div id="show_risorsa">
#{set title:'RisorseController/show.html' /}
	<ul>
			<li>
				<label for="matricola">Matricola: </label>
			    ${risorsa.matricola}
			</li>
			<li>
				<label for="codice">Codice: </label>
			    ${risorsa.codice}
			</li>
			<li>
				<label for="nome">Nome: </label>
			    ${risorsa.nome}
			</li>
			<li>
				<label for="cognome">Cognome: </label>
			    ${risorsa.cognome}
			</li>
			<li>
				<label for="dataIn">Data In: </label>
			    ${risorsa.dataIn.format('dd-MM-yyyy')}
			</li>
			#{if risorsa.dataOut != null}
				<li>
					<label for="dataOut">Data Out: </label>
			    	${risorsa.dataOut.format('dd-MM-yyyy')}
				</li>
			#{/if}
			<li>
				<label for="tipoStatoRisorsa">Stato: </label>
			    ${risorsa.tipoStatoRisorsa.descrizione}
			</li>
	<ul>
</div>
<div id="button_center">
		<input type="button" class="submitbutton" value="Indietro" onClick="history.back()"/>
		<a href="@{RisorseController.list()}"><input type="button" class="submitbutton" value="Lista risorse" /></a>
	</div>	
