#{extends 'menu.html' /}
#{set title:'Recupera Password'/}

<h2>Recupera Password</h2>
<div id="align_form">
#{form @Application.confirmRecuperaPasswordAccount()}
	
	#{ifErrors}
        <p class="error">${errors[0]}</p>
    #{/ifErrors}
    #{else}
 		<p class="error">${flash.error}</p>
 	#{/else}
 
   	<label for="username">Username:</label>
   	<input type="text" class="txt_m" id="username" name="username" value="${username }"/>
   	<br />
   	<label for="email">E-Mail: </label>
   	<input type="text" class="txt_m" id="email" name="email" value="${email }" />
   	<br />	
</div>
	<div id="button_center">
		<input type="submit" class="submitbutton" value="Conferma" />
#{/form}
		<a href="@{LogInController.index()}"><input type="button" class="submitbutton" value="Annulla" /></a>
	</div>