<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/style.css'}">
         <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">    
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/play-pagination.css'}">
        #{get 'moreStyles' /}
        
        #{get 'moreScripts' /}
 
    
    </head>
    <body>
         <div id="content">
 		<div id="logo">
			<h1><img src="@{'/public/images/logo.jpg'}" width="167" height="91" alt="Logo" /></h1>
			<p>Solving team - Software gestionale</p>
		</div>
  

        #{doLayout /}
          </div>
    </body>
</html>
