<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        #{stylesheet id:'main-css',media:'screen',src:'main.css'  /}
        #{stylesheet id:'style-css',media:'screen',src:'style.css'  /}
        #{stylesheet id:'pagination-css',media:'screen',src:'play-pagination.css'  /}
        
        
         <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">    
        #{get 'moreStyles' /}
        
        #{get 'moreScripts' /}
        
    
    </head>
    <body>
         <div id="container">
 <div id="topimg">
    <h1></h1>
  </div>
  

        #{doLayout /}
          </div>
    </body>
</html>
