<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        #{stylesheet id:'main-css',media:'screen',src:'main.css'  /}
        #{stylesheet id:'style-css',media:'screen',src:'style.css'  /}
       
        
        
         <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">    
        #{get 'moreStyles' /}
        
        #{get 'moreScripts' /}
 
    
    </head>
    <body>
         <div id="content">
 		<div id="logo">
			<h1><img src="@{'/public/images/logo.jpg'}" width="167" height="91" alt="Logo" /></h1>
			<p>Solving team - Software gestionale</p>
		</div>
  

        #{doLayout /}
        
        <div class="clear" />
         <div id="footer">
        
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Ut pretium mauris nec arcu. Integer at leo vel ipsum elementum sodales. Nam est quam, posuere non, feugiat nec, consectetuer ac, lectus. Aenean faucibus</p>
			prova jnk<p>&copy; Copyright <strong>Solving Team</strong> &middot;</p>
          </div>
          </div>
         
    </body>
</html>
