<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        #{stylesheet id:'main-css',media:'screen',src:'main.css'  /}
        #{stylesheet id:'style-css',media:'screen',src:'style.css'  /}
        #{stylesheet id:'pagination-css',media:'screen',src:'play-pagination.css'  /}
        
        
         <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">    
        #{get 'moreStyles' /}
        
        #{get 'moreScripts' /}
 
    
    </head>
    <body>
         <div id="content">
 		<div id="logo">
			<h1><a href="@{LogInController.index()}"><img src="@{'/public/images/logo.jpg'}" width="167" height="91" alt="Logo" /></a></h1>
			<p>Solving team - Software gestionale</p>
		</div>
		<div id="top">
				<p></p>
		</div>
	
  
			<ul id="menu">
			<li>#{a @RisorseController.index()} Risorse#{/a}</li>
			<li>#{a @ClientiController.list()} Clienti#{/a}</li>
			<li>#{a @CommesseController.index()} Commesse#{/a}</li>
			<li>#{a @AccountController.index()} Account#{/a}</li>
			<li>#{a @RendicontoAttivitaController.index()}Rapportini#{/a}</li>
			<li>#{a @StatisticheController.index()}Statistiche#{/a}</li>
			<li>#{a @AnomalieController.index()}Anomalie#{/a}</li>
			<li>#{a @Secure.logout()}LogOut#{/a}</li>
			
		</ul>
		
        #{doLayout /}
        <div class="clear" />
        <div id="content2">
        </div>
         <div id="footer">
          <p>La gloria di colui che tutto move per l'universo penetra, e risplende in una parte pi&ugrave; e meno altrove. Nel ciel che pi&ugrave; de la sua luce prende f&ugrave; io, e vidi cose che ridire
			n&egrave; sa n&egrave; pu&ograve; chi di l&agrave; s&ugrave; discende;
			perch&egrave; appressando s&egrave; al suo disire,
			nostro intelletto si profonda tanto,
			che dietro la memoria non pu&ograve; ire.
		 </p>
          
			<p>&copy; Copyright <strong>Solving Team</strong></p>
          </div>
          </div>
          
    </body>
</html>

