#{extends 'menu.html' /}
#{set title:'Gestione Titolo di Studio' /}

<h2>Nuovo Titolo di Studio</h2>
#{ifErrors}
		<p class="error">${errors[0]}</p>
	#{/ifErrors}
<div id="form_small">
#{form @TitoloStudioController.save()}
	
	 <p class="campi_obbligatori">I campi contrassegnati dall&#39;asterisco (&#42;) sono obbligatori</p>
		<table class="table_form">
    	<tr>
	    	<td><label for="codice">&#42; Codice:</label></td>
	        <td><input type="text" class="txt_m" name="titoloStudio.codice" id="codice" value="${titoloStudio?.codice}"/></td>
	    </tr>
	    <tr>
	        <td><label for="descrizione">&#42; Descrizione:</label></td>
	        <td><input type="text" class="txt_m" name="titoloStudio.descrizione" id="descrizione" value="${titoloStudio?.descrizione}"/></td>
	    </tr>
	</table>
</div>
<div id="button_center">
	<input type="submit" class="submitbutton" value="Salva" />
</div>	
#{/form}
<div class="navigation">
	<a class="button_nav" href="@{TitoloStudioController.list()}">Indietro</a>
</div>