#{extends 'menu.html' /}
#{set title:'Gestione Titolo di Studio' /}

<h2>Dettaglio Titolo di Studio</h2>

<div id="edit">
	<ul>
		<li>
	        <label for="codice">Codice titolo Studio: </label>
	        ${titoloStudio.codice }
	    </li>
	    <li>
	        <label for="descrizione">Descrizione: </label>
	        ${titoloStudio.descrizione }
	    </li>
	    #{if listaRisorse != null && listaRisorse.size() > 0 }
	    <li>
	        <label for="risorse">Risorse: </label>
	       	<ul>
				#{list items:listaRisorse, as:'risorsa'}
					<li><a href="@{RisorseController.show(risorsa.idRisorsa)}">${risorsa.codice } - ${risorsa.cognome } ${risorsa.nome }</a></li>
				#{/list}
			</ul>
	    </li>
	    #{/if}
	</ul>
</div>
<div id="button_center">
	<a href="@{TitoloStudioController.list()}"><input type="button" class="submitbutton" value="Lista titoli di studio" /></a>
</div>	

