#{extends 'main.html' /}
#{set title:'Aggiungi nuova tariffa' /}

<!-- CSS calendario -->
<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/cupertino/jquery-ui-1.7.2.custom.css'}">
<!-- JavaScript calendario -->
<script src="@{'/public/javascripts/jquery-1.3.2.js'}" type="text/javascript" charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/jquery-ui-1.7.1.custom.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/ui.datepicker-it.js'}" type="text/javascript" charset="${_response_encoding}"></script>
<script type="text/javascript">
  		  $(function() {
    		$.datepicker.setDefaults($.datepicker.regional['it']);
		   	  $('#datepicker').datepicker({
				changeMonth: true,
				changeYear: true,
				yearRange:'-59:+50'
	
		});
  });
</script>

<h1>Nuova tariffa</h1>
#{if listaCommesse.size() > 0}
#{form @tariffeController.save(idRisorsa, idCommessa)}
	
	#{ifErrors}
        <p class="error">
			${errors[0]}
		</p>
    #{/ifErrors}
	
	<p>
        <label for=dataInizio>Data inizio: </label>
        <input type="text" name="tariffa.dataInizio" id="datepicker" value="${tariffa?.dataInizio?.format('dd-MM-yyyy') }"/>
    </p>
    <p>
        <label for=importo>Importo giornaliero: </label>
        <input type="text" name="tariffa.importoGiornaliero" value="${tariffa?.importoGiornaliero }"/>
    </p>
    <p>
    	<label for="commessa">Commessa: </label><br>
		<select name="idCommessa">
			<option value="">- Selezionare -</option>
    		#{list items:listaCommesse, as:'commessa'}
		        <option value="${commessa.idCommessa }" #{if commessa.idCommessa == tariffa?.commessa?.idCommessa }
		        		selected="selected"
		        	#{/if} >${commessa.codice }</option>
		    #{/list} 
    	</select>
    </p>
    <p>
     	<input type="hidden" name="idRisorsa" value="${idRisorsa }"/>
        <input type="submit" value="Salva nuova tariffa" />
    </p>
#{/form}
#{/if}
#{else}
	<label>
		Non si puo' creare una tariffa, perche' non esistono commesse a cui assegnarla.
	</label><br>
	<a href="@{CommesseController.create()}">
		<input type="button" value="Aggiungi nuovo Commessa" /></a><br>
#{/else}
<a href="@{TariffeController.index(idRisorsa)}">
	<input type="button" value="Annulla" /></a>