#{extends 'menu.html' /}
#{set title:'Aggiungi nuova tariffa' /}

<!-- CSS -->
#{stylesheet id:'jquery-css',media:'screen',src:'jquery-ui-1.8.14.custom.css'  /}
#{stylesheet id:'cupertino-css',media:'screen',src:'cupertino/jquery-ui-1.7.2.custom.css'  /}
<!-- JavaScript-->
#{script id:'jquery' , src:'jquery-1.5.2.min.js', charset:'utf-8' /}
#{script id:'jquery-ui' , src:'jquery-ui-1.8.14.custom.min.js', charset:'utf-8' /}
#{script id:'datepicker' , src:'jquery.ui.datepicker.js', charset:'utf-8' /}
#{script id:'datepicker-it' , src:'ui.datepicker-it.js', charset:'utf-8' /}

<script type="text/javascript">
	$(function() {
    	$.datepicker.setDefaults($.datepicker.regional['it']);
		$('#datepicker1').datepicker({
			changeMonth: true,
			changeYear: true,
			yearRange:'-59:+50'
		});
	});
</script>

<h1>Nuova tariffa</h1>

#{if listaCommesse.size() > 0}
<div id="edit">
#{form @tariffeController.save()}
	
	#{ifErrors}
        <p class="error">
			${errors[0]}
		</p>
    #{/ifErrors}
	<ul>
	    <li>
	    	<label for="dataInizio">Data Inizio:</label>
			#{select 'meseInizio', value:meseInizio}
				#{option 0}GEN#{/option}
				#{option 1}FEB#{/option}
				#{option 2}MAR#{/option}
				#{option 3}APR#{/option}
				#{option 4}MAG#{/option}
				#{option 5}GIU#{/option}
				#{option 6}LUG#{/option}
				#{option 7}AGO#{/option}
				#{option 8}SET#{/option}
				#{option 9}OTT#{/option}
				#{option 10}NOV#{/option}
				#{option 11}DIC#{/option}
			#{/select}
			
			#{select 'annoInizio', items:listaAnni, labelProperty:'annoInizio', valueProperty:'annoInizio', value:annoInizio}
			#{/select}
		</li>
	    <li>
	        <label for=importo>Importo giornaliero:</label>
	        <input type="text" class="txt_s" name="tariffa.importoGiornaliero" value="${tariffa?.importoGiornaliero }"/>
	    </li>
	    <li>
	    	<label for="commessa">Commessa:</label>
			<select name="idCommessa">
				<option value="">- Selezionare -</option>
	    		#{list items:listaCommesse, as:'commessa'}
			        <option value="${commessa.idCommessa }" #{if commessa.idCommessa == tariffa?.commessa?.idCommessa }
			        		selected="selected"
			        	#{/if} >${commessa.codice }</option>
			    #{/list} 
	    	</select>
	    </li>
    </ul>
</div>
<div id="button_center">
	<input type="hidden" name="idRisorsa" value="${idRisorsa }"/>
    <input type="submit" class="submitbutton" value="Salva" />
    
#{/form}
#{/if}
#{else}
	<h3>Non si puo' creare una tariffa, perche' non esistono commesse a cui assegnarla.</h3>
	<a href="@{CommesseController.create()}">
	<input type="button" class="submitbutton" value="Aggiungi nuovo Commessa" /></a>
#{/else}
<a href="@{TariffeController.index(idRisorsa)}">
<input type="button" class="submitbutton" value="Indietro" /></a>
</div>