#{extends 'main.html' /}
#{set title:'Lista Tariffe di ' + risorsa.cognome /}


<h1>Lista Tariffe di ${risorsa.cognome }</h1>
#{if flash.success}
   	<p class="success">${flash.success}</p>
#{/if}
#{ifErrors}
   	<p class="error">
		${errors[0]}
	</p>
#{/ifErrors}
#{if paginator.size() > 0}
	<label>${paginator.size() } Tariffe</label>
	<table class="gestioneaccount">
		<tr>
			<td>Id Tariffa</td>
			<td>Data Inizio</td>
			<td>Data Fine</td>
			<td>Importo Giornaliero</td>
			<td>Commessa</td>
			<td>Azioni</td>
		</tr>
		#{paginate.list items:paginator, as:'tariffa'} 
		<tr>
			<td><a href="@{TariffeController.show(tariffa.idTariffa)}">${tariffa.idTariffa }</a></td>
			<td>${tariffa.dataInizio?.format('dd-MM-yyyy') }</td>
			<td>${tariffa.dataFine?.format('dd-MM-yyyy') }</td>
			<td>${tariffa.importoGiornaliero }</td>
			<td>${tariffa.commessa.codice }</td>
			<td>
				<a href="@{TariffeController.edit(tariffa.idTariffa)}">Modifica</a>
				<a href="@{TariffeController.delete(tariffa.idTariffa)}" onclick="return confirm('Continuare con la cancellazzione della tariffa ');">Cancella</a>
			</td>
		</tr>
		#{/paginate.list} 
	</table>
	#{paginate.controls items:paginator /}
#{/if}
#{else}
	<label>Nessuna Tariffa esistente</label>
#{/else}

<p><a id="create" href="@{TariffeController.create(risorsa.idRisorsa)}"><input type="button" value="Aggiungi nuova tariffa"/></a></p>

#{form @RisorseController.list()}
    <p>
        <input type="submit" value="Indietro" />
    </p>
#{/form}