#{extends 'main.html' /}
#{set title:'Lista Tariffe di ' + risorsa.cognome /}


<div>
		Risorsa: ${risorsa.matricola}
		<br>
		${risorsa.nome} ${risorsa.cognome}
		<br>
		Data In: ${risorsa.dataIn.format('dd-MM-yyyy')} #{if risorsa.dataOut != null}, Data Out: ${risorsa.dataOut?.format('dd-MM-yyyy')} #{/if}
</div>
<hr>

#{if flash.success}
   	<p class="success">${flash.success}</p>
#{/if}
#{ifErrors}
   	<p class="error">
		${errors[0]}
	</p>
#{/ifErrors}
#{if paginator.size() > 0}
	<label>${paginator.size() } Tariffe</label>
	<table class="gestioneaccount">
		<tr>
			<td>Id Tariffa</td>
			<td>Data Inizio</td>
			<td>Data Fine</td>
			<td>Importo Giornaliero</td>
			<td>Commessa</td>
			#{if !risorsa.dataOut}
				<td>Azioni</td>
			#{/if}
		</tr>
		#{paginate.list items:paginator, as:'tariffa'} 
		<tr>
			<td><a href="@{TariffeController.show(tariffa.idTariffa)}">${tariffa.idTariffa }</a></td>
			<td>${tariffa.dataInizio?.format('dd-MM-yyyy') }</td>
			<td>${tariffa.dataFine?.format('dd-MM-yyyy') }</td>
			<td>${tariffa.importoGiornaliero }</td>
			<td>${tariffa.commessa.codice }</td>
			#{if !risorsa.dataOut}
				<td>
					<a href="@{TariffeController.edit(tariffa.idTariffa)}">Modifica</a>
					<a href="@{TariffeController.delete(tariffa.idTariffa)}" onclick="return confirm('Continuare con la cancellazzione della tariffa ');">Cancella</a>
				</td>
			#{/if}
		</tr>
		#{/paginate.list} 
	</table>
	#{paginate.controls items:paginator /}
#{/if}
#{else}
	<label>Nessuna Tariffa esistente</label>
#{/else}

#{if !risorsa.dataOut}
	<p>
		<a id="create" href="@{TariffeController.create(risorsa.idRisorsa)}"><input type="button" value="Aggiungi nuova tariffa"/></a>
	</p>
#{/if}

#{form @RisorseController.list()}
    <p>
        <input type="submit" value="Indietro" />
    </p>
#{/form}