#{extends 'menu.html' /}
#{set title:'Gestione Tariffe'/}

<h2>Gestione Tariffe</h2>
<div id="detail">
<ul>
	<li><label>Risorsa: </label>${risorsa.matricola}</li>
	<li><label>Nome: </label>${risorsa.nome}</li> 
	<li><label>Cognome: </label>${risorsa.cognome}</li>
</ul>
</div>


#{if flash.success}
   	<p class="success">${flash.success}</p>
#{/if}
#{ifErrors}
   	<p class="error">
		${errors[0]}
	</p>
#{/ifErrors}
#{if paginator.size() > 0}
	<table class="table_center">
	<thead>
		<tr>
			<th scope="col">Id Tariffa</th>
			<th scope="col">Data Inizio</th>
			<th scope="col">Data Fine</th>
			<th scope="col">Importo Giornaliero</th>
			<th scope="col">Commessa</th>
			#{if !risorsa.dataOut}
				<th scope="col">Modifica</th>
				<th scope="col">Chiudi</th>
			#{/if}
		</tr>
	</thead>
		#{paginate.list items:paginator, as:'tariffa'} 
			<tr>
				<td><a href="@{TariffeController.show(tariffa.idTariffa)}">${tariffa.idTariffa }</a></td>
				<td>${tariffa.dataInizio?.format('dd-MM-yyyy') }</td>
				<td>${tariffa.dataFine?.format('dd-MM-yyyy') }</td>
				<td>${tariffa.commessa instanceof models.CommessaACorpo ? '' : tariffa.importoGiornaliero }</td>
				<td>${tariffa.commessa.codice }</td>
				#{if !risorsa.dataOut}
					#{if !tariffa.commessa.dataFineCommessa}
						<td><a href="@{TariffeController.edit(tariffa.idTariffa)}"><img src="@{'/public/images/edit.gif'}" alt="modifica" /></a></td>
						<td><a href="@{TariffeController.delete(tariffa.idTariffa)}" onclick="return confirm('Continuare con la cancellazzione della tariffa ');"><img src="@{'/public/images/delete.gif'}" alt="elimina" /></a></td>
					#{/if}
					#{else}
						<td></td>
						<td></td>
					#{/else}
				#{/if}
			</tr>
		#{/paginate.list} 
	</table>
	<div id="datatable_tariffe">
		#{paginate.controls items:paginator /}
	</div>
#{/if}
#{else}
	<center><h3>Nessuna Tariffa esistente</h3></center>
#{/else}

<div id="button_center">		
	#{if !risorsa.dataOut}
		<a id="create" href="@{TariffeController.create(risorsa.idRisorsa)}"><input type="button" class="submitbutton" value="Aggiungi"/></a>
	#{/if}
	#{a @RisorseController.list()}<input type="submit" class="submitbutton" value="Indietro" />#{/a}
</div>