#{extends 'menu.html' /}
#{set title:'Gestione Tariffe ' /}

<h2>Dettaglio Tariffa</h2>
<div id="detail">
<ul>
	<li><label>Risorsa: </label>${tariffa.risorsa.matricola}</li>
	<li><label>Nome: </label>${tariffa.risorsa.nome}</li> 
	<li><label>Cognome: </label>${tariffa.risorsa.cognome}</li>
</ul>
</div>

<div id="edit">
	<ul>
		<li>
	        <label for="dataInizio">Data Inizio:</label>
	        ${tariffa.dataInizio?.format('dd-MM-yyyy') }
	    </li>
	    #{if tariffa.dataFine}
	    <li>
	        <label for="dataFine">Data Fine:</label>
	        ${tariffa.dataFine.format('dd-MM-yyyy') }
	    </li>
	    #{/if}
	    #{if !tariffa.commessa instanceof models.CommessaACorpo }
	    <li>
	        <label for="importo">Importo giornaliero:</label>
	        ${tariffa.importoGiornaliero }
	    </li>
	    #{/if}
	    <li>
	        <label for=commessa>Commessa:</label>
	        <a href="@{CommesseController.show(tariffa.commessa.idCommessa)}">${tariffa.commessa.codice }</a>
	    </li>
	</ul>
</div>
<div id="button_center_single">	
	#{a @TariffeController.index(tariffa.risorsa.idRisorsa)}<input type="button" class="submitbutton" value="Indietro" />#{/a}
</div>